In [68]:
import pandas as pd
import requests
from urllib.parse import urljoin, urlencode
import matplotlib.pyplot as plt
from utils import  PkdbModel
from IPython.display import display

In [35]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [75]:
queries = ["studies","substances"]
for pk_instance in queries:
    pk_instance = PkdbModel(pk_instance, destination="1-preprocessed")  
    pk_instance.read()
    print(pk_instance.name)
    display(pk_instance.data.describe())

studies

,groups_count,group_all_count,individuals_count,interventions_count,outputs_count,timecourses_count,results_count
count,101.000000,98.000000,101.000000,101.000000,101.000000,101.000000,101.000000
mean,2.564356,30.836735,8.663366,2.950495,58.108911,8.742574,66.851485
std,1.779977,108.553250,16.527115,5.280864,90.060968,16.657523,89.540425
min,0.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,10.000000,0.000000,1.000000,0.000000,0.000000,14.000000
50%,3.000000,14.500000,0.000000,2.000000,24.000000,4.000000,32.000000
75%,3.000000,25.000000,12.000000,3.000000,75.000000,12.000000,90.000000
max,9.000000,1082.000000,102.000000,37.000000,510.000000,132.000000,510.000000

substances

       study_number  intervention_number  timecourse_number  output_number
count    129.000000           129.000000         129.000000     129.000000
mean       1.503876             2.147287           6.844961      45.496124
std        5.230804             8.131825          20.738118     319.761975
min        0.000000             0.000000           0.000000       0.000000
25%        0.000000             0.000000           0.000000       0.000000
50%        0.000000             0.000000           0.000000       0.000000
75%        1.000000             1.000000           2.000000       5.000000
max       47.000000            69.000000         161.000000    3586.000000