In [270]:
import pandas as pd
import requests
from urllib.parse import urljoin, urlencode
import matplotlib.pyplot as plt
from utils import  PkdbModel

In [271]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [273]:
studies = PkdbModel("studies",destination='1-preprocessed')  
studies.read()

In [274]:
studies.data

,name,substances,creator,curators,groups_count,group_all_count,groups,individuals_count,individuals,interventions_count,outputs_count,timecourses_count,results_count
60,Test243,caffeine paraxanthine,Matthias König,Matthias König,1,102.0,"[{'count': 102, 'subject_name': 'all'}]",102,"['IKP243-1001', 'IKP243-1002', 'IKP243-1003', ...",1,510,0,510
48,Stille1987,NaN,Matthias König,Matthias König,1,12.0,"[{'count': 12, 'subject_name': 'all'}]",12,"['A', 'B', 'C', 'E', 'F', 'G', 'H', 'I', 'K', ...",13,432,0,432
99,Yue1991B,debrisoquine codeine,Jan Grzegorzewski,Jan Grzegorzewski,5,20.0,"[{'count': 20, 'subject_name': 'all'}, {'count...",14,"['1_EM', '2_EM', '3_EM', '4_EM', '5_EM', '6_EM...",11,326,11,337
33,Chen1991,codeine,Jan Grzegorzewski,"Jan Grzegorzewski,Matthias König",3,8.0,"[{'count': 8, 'subject_name': 'all'}, {'count'...",8,"['1', '2', '3', '4', '5', '6', '7', '8']",8,320,4,324
100,Vree1992,codeine,Jan Grzegorzewski,Jan Grzegorzewski,1,8.0,"[{'count': 8, 'subject_name': 'all'}]",8,"['1', '2', '3', '4', '5', '6', '7', '8']",1,266,14,280
43,Beach1986,NaN,Matthias König,Matthias König,3,21.0,"[{'count': 21, 'subject_name': 'all'}, {'count...",21,"['K', 'J', 'I', 'H', 'G', 'F', 'E', 'D', 'C', ...",3,235,4,239
17,Balogh1992,caffeine,Matthias König,"Jan Grzegorzewski,Matthias König",1,12.0,"[{'count': 12, 'subject_name': 'all'}]",12,"['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', ...",1,147,72,219
56,Carbo1989,pipemidic acid norfloxacin caffeine quinolone,Matthias König,"Jan Grzegorzewski,Matthias König",1,6.0,"[{'count': 6, 'subject_name': 'all'}]",6,"['1', '2', '3', '4', '5', '6']",3,204,3,207
14,Harder1988,caffeine,Matthias König,"Jan Grzegorzewski,Matthias König",1,NaN,"[{'count': 12, 'subject_name': 'S1'}]",0,NaN,37,160,0,160
83,Polonsky1986,c-peptide,Matthias König,"Matthias König,Kathleen Green",3,17.0,"[{'count': 17, 'subject_name': 'all'}, {'count...",17,"['C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8...",4,153,5,158
10,Balogh1995,caffeine,Matthias König,"Jan Grzegorzewski,Matthias König",7,20.0,"[{'count': 20, 'subject_name': 'all'}, {'count...",40,"['4', '5', '9', '10', '11', '12', '16', '17', ...",4,150,0,150
67,May1982,cimetidine caffeine,Matthias König,Matthias König,3,12.0,"[{'count': 12, 'subject_name': 'all'}, {'count...",12,"['1', '2', '3', '4', '5', '6', '7', '8', '9', ...",2,140,2,142
54,Backman2008,caffeine tizanidine,Matthias König,"Jan Grzegorzewski,Matthias König",5,71.0,"[{'count': 71, 'subject_name': 'all'}, {'count...",70,"['1', '2', '3', '4', '5', '6', '7', '8', '9', ...",1,140,0,140
6,Akinyinka2000,caffeine,Matthias König,"Jan Grzegorzewski,Matthias König",4,28.0,"[{'count': 28, 'subject_name': 'all'}, {'count...",20,"['1C', '2C', '3C', '4C', '5C', '6C', '7C', '8C...",1,132,6,138
24,Loetsch2006,codeine,Jan Grzegorzewski,"Jan Grzegorzewski,Matthias König",1,11.0,"[{'count': 11, 'subject_name': 'all'}]",11,"['1', '2', '3', '4', '5', '6', '7', '8', '9', ...",2,0,132,132
57,Barnet1990,pipemidic acid norfloxacin caffeine quinolone,Matthias König,"Jan Grzegorzewski,Matthias König",1,6.0,"[{'count': 6, 'subject_name': 'all'}]",6,"['1', '2', '3', '4', '5', '6']",3,120,0,120
12,Renner1984,caffeine,Matthias König,"Jan Grzegorzewski,Matthias König",5,36.0,"[{'count': 36, 'subject_name': 'all'}, {'count...",36,"['ER1', 'MT', 'UM', 'HP', 'EC', 'PH', 'FW', 'H...",1,120,0,120
3,Parsons1978,caffeine,Matthias König,"Jan Grzegorzewski,Matthias König",3,26.0,"[{'count': 26, 'subject_name': 'all'}, {'count...",26,"['1', '2', '3', '4', '5', '6', '7', '8', '9', ...",1,112,0,112
52,Benowitz2003,caffeine chlorzoxazone 6-hydroxychlorzoxazone,Matthias König,"Jan Grzegorzewski,Matthias König",1,12.0,"[{'count': 12, 'subject_name': 'all'}]",20,"['A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8...",4,102,6,108
2,Joeres1988,caffeine,Matthias König,"Jan Grzegorzewski,Matthias König",6,71.0,"[{'count': 71, 'subject_name': 'all'}, {'count...",71,"['1', '2', '3', '4', '5', '6', '7', '8', '9', ...",3,107,0,107
65,McLean2002,caffeine paraxanthine theobromine theophylline,Matthias König,Matthias König,3,14.0,"[{'count': 14, 'subject_name': 'all'}, {'count...",0,NaN,1,56,48,104
77,Fuhr1993a,naringenin caffeine,Matthias König,"Jan Grzegorzewski,Matthias König",3,12.0,"[{'count': 12, 'subject_name': 'all'}, {'count...",12,"['1', '2', '3', '4', '5', '6', '7', '8', '9', ...",2,104,0,104
40,Sindrup1996,quinidine codeine,Jan Grzegorzewski,"Jan Grzegorzewski,Matthias König",1,17.0,"[{'count': 17, 'subject_name': 'all'}]",17,"['1', '2', '3', '4', '5', '10', '14', '15', '1...",2,102,0,102
22,ZylberKatz1984,caffeine,Matthias König,"Jan Grzegorzewski,Matthias König",1,12.0,"[{'count': 12, 'subject_name': 'all'}]",12,"['1', '2', '3', '4', '5', '6', '7', '8', '9', ...",3,96,0,96
45,Park2003,NaN,Matthias König,Matthias König,4,65.0,"[{'count': 25, 'subject_name': 'control'}, {'c...",30,"['Control1', 'Control2', 'Control3', 'Control4...",1,90,0,90
11,Blanchard1983a,caffeine,Matthias König,"Jan Grzegorzewski,Matthias König",1,10.0,"[{'count': 10, 'subject_name': 'all'}]",0,NaN,2,88,2,90
15,Cheng1990,caffeine,Matthias König,"Jan Grzegorzewski,Matthias König",3,26.0,"[{'count': 26, 'subject_name': 'all'}, {'count...",26,"['19', '20', '21', '22', '23', '24', '25', '26...",3,87,0,87
39,Wu2014,codeine,Jan Grzegorzewski,"Jan Grzegorzewski,Matthias König",4,29.0,"[{'count': 29, 'subject_name': 'all'}, {'count...",0,NaN,1,75,12,87
71,Ammon2002,diclofenac codeine,Jan Grzegorzewski,"Jan Grzegorzewski,Matthias König",1,12.0,"[{'count': 12, 'subject_name': 'all'}]",0,NaN,3,75,10,85
76,Mikus1997,sparteine codeine,Jan Grzegorzewski,Jan Grzegorzewski,3,10.0,"[{'count': 10, 'subject_name': 'all'}, {'count...",10,"['4_pm', '5_pm', '1_em', '2_em', '3_em', '4_em...",3,80,4,84
...,...,...,...,...,...,...,...,...,...,...,...,...,...
41,Hasselstrom1997,debrisoquine codeine,Jan Grzegorzewski,Jan Grzegorzewski,3,24.0,"[{'count': 24, 'subject_name': 'all'}, {'count...",0,NaN,2,18,0,18
70,Murphy1988,antipyrine caffeine,Matthias König,Matthias König,5,8.0,"[{'count': 8, 'subject_name': 'all'}, {'count'...",0,NaN,2,16,0,16
79,Ferrannini1988,glucose insulin,Matthias König,Matthias König,3,22.0,"[{'count': 22, 'subject_name': 'all'}, {'count...",0,NaN,1,0,14,14
47,Turpault2009,NaN,Matthias König,Matthias König,1,30.0,"[{'count': 30, 'subject_name': 'all'}]",0,NaN,5,0,14,14
59,Benowitz1995,caffeine paraxanthine,Matthias König,"Jan Grzegorzewski,Matthias König",3,12.0,"[{'count': 12, 'subject_name': 'all'}, {'count...",0,NaN,4,6,8,14
86,Basu2009,glucose glucagon insulin c-peptide,Matthias König,Matthias König,3,25.0,"[{'count': 25, 'subject_name': 'all'}, {'count...",0,NaN,1,0,14,14
23,Lia2009,codeine,Jan Grzegorzewski,"Jan Grzegorzewski,Matthias König",1,20.0,"[{'count': 20, 'subject_name': 'all'}]",0,NaN,1,12,2,14
51,Mitrakou1991,NaN,Matthias König,Matthias König,1,10.0,"[{'count': 10, 'subject_name': 'all'}]",0,NaN,2,0,14,14
29,Shah1990,codeine,Jan Grzegorzewski,"Jan Grzegorzewski,Matthias König",1,10.0,"[{'count': 10, 'subject_name': 'all'}]",0,NaN,1,12,0,12
36,Kirchner2007,codeine,Jan Grzegorzewski,"Jan Grzegorzewski,Matthias König",4,26.0,"[{'count': 26, 'subject_name': 'all'}, {'count...",0,NaN,1,0,12,12
42,Yue1999,debrisoquine codeine,Jan Grzegorzewski,Jan Grzegorzewski,1,12.0,"[{'count': 12, 'subject_name': 'all'}]",0,NaN,3,11,0,11
74,Oh2012,omeprazole caffeine midazolam dextromethorphan...,Matthias König,"Jan Grzegorzewski,Matthias König",1,13.0,"[{'count': 13, 'subject_name': 'all'}]",0,NaN,5,0,11,11
62,Spigset1999a,caffeine paraxanthine,Matthias König,"Jan Grzegorzewski,Matthias König",1,12.0,"[{'count': 12, 'subject_name': 'all'}]",0,NaN,1,8,2,10
18,Desmond1980,caffeine,Matthias König,"Jan Grzegorzewski,Matthias König",4,33.0,"[{'count': 33, 'subject_name': 'all'}, {'count...",0,NaN,1,10,0,10
28,O'Neal1999,codeine,Jan Grzegorzewski,Jan Grzegorzewski,1,17.0,"[{'count': 17, 'subject_name': 'all'}]",0,NaN,1,6,3,9
87,Henkel2005,glucose glucagon insulin,Matthias König,Matthias König,4,64.0,"[{'count': 64, 'subject_name': 'all'}, {'count...",0,NaN,1,0,9,9
58,Jeppesen1996,fluvoxamine caffeine,Matthias König,"Jan Grzegorzewski,Matthias König",1,8.0,"[{'count': 8, 'subject_name': 'all'}]",0,NaN,2,0,8,8
81,Thomaseth2008,glucose insulin,Matthias König,Matthias König,3,22.0,"[{'count': 22, 'subject_name': 'all'}, {'count...",0,NaN,1,0,6,6
61,Koch1999,caffeine paraxanthine,Matthias König,Matthias König,1,6.0,"[{'count': 6, 'subject_name': 'all'}]",6,"['1', '2', '3', '4', '5', '6']",1,6,0,6
25,Mitchell1991,codeine,Jan Grzegorzewski,"Jan Grzegorzewski,Matthias König",1,4.0,"[{'count': 4, 'subject_name': 'all'}]",4,"['C', 'E', 'F', 'O']",1,0,4,4
32,He2008,codeine,Jan Grzegorzewski,"Jan Grzegorzewski,Matthias König",3,23.0,"[{'count': 23, 'subject_name': 'all'}, {'count...",0,NaN,1,0,4,4
97,Hovorka2002,glucose insulin,Matthias König,Matthias König,1,6.0,"[{'count': 6, 'subject_name': 'all'}]",0,NaN,1,0,4,4
90,Calbet2002,glucose glucagon FFA insulin,Matthias König,Matthias König,1,6.0,"[{'count': 6, 'subject_name': 'all'}]",0,NaN,4,0,4,4
80,Felig1969,glucose insulin,Matthias König,Matthias König,3,20.0,"[{'count': 20, 'subject_name': 'all'}, {'count...",0,NaN,1,0,4,4
82,Ferrannini1979,glucose insulin,Matthias König,Matthias König,1,17.0,"[{'count': 17, 'subject_name': 'all'}]",0,NaN,1,0,3,3
31,Kronstrand2001,codeine,Jan Grzegorzewski,"Jan Grzegorzewski,Matthias König",1,9.0,"[{'count': 9, 'subject_name': 'all'}]",0,NaN,1,0,3,3
20,Harder1989,caffeine,Matthias König,"Jan Grzegorzewski,Matthias König",1,NaN,"[{'count': 12, 'subject_name': 'S1'}]",0,NaN,37,2,0,2
96,Kjems2001,glucose insulin c-peptide,Matthias König,"Matthias König,Kathleen Green",3,16.0,"[{'count': 16, 'subject_name': 'all'}, {'count...",0,NaN,2,0,2,2
84,Zavaroni1987,c-peptide,Matthias König,"Matthias König,Kathleen Green",1,9.0,"[{'count': 9, 'subject_name': 'all'}]",0,NaN,0,0,0,0
49,Tanaka2014,NaN,Matthias König,Matthias König,0,NaN,[],0,NaN,0,0,0,0

In [265]:
studies.save()

In [267]:
#studies.data.plot(x="group_all_count",y="individuals_count",kind="scatter")

In [268]:
#data_details=data[["name","group_count","individual_count","intervention_count","output_count","timecourse_count"]]
#data_details.hist(figsize=(10,10),bins=30)
#plt.show()

In [275]:
studies.data.describe()

,groups_count,group_all_count,individuals_count,interventions_count,outputs_count,timecourses_count,results_count
count,101.000000,98.000000,101.000000,101.000000,101.000000,101.000000,101.000000
mean,2.564356,30.836735,8.663366,2.950495,59.356436,8.683168,68.039604
std,1.779977,108.553250,16.527115,5.280864,89.844597,16.651685,89.274064
min,0.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,10.000000,0.000000,1.000000,0.000000,0.000000,14.000000
50%,3.000000,14.500000,0.000000,2.000000,26.000000,4.000000,32.000000
75%,3.000000,25.000000,12.000000,3.000000,80.000000,11.000000,90.000000
max,9.000000,1082.000000,102.000000,37.000000,510.000000,132.000000,510.000000