In [1]:
import pandas as pd
import requests
from urllib.parse import urljoin, urlencode
import matplotlib.pyplot as plt
from utils import  PkdbModel

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
studies = PkdbModel("studies",destination='1-preprocessed')  
studies.read()

In [5]:
studies.data
substances = pd.DataFrame()

In [265]:
substances["studies"] =

In [267]:

#studies.data.plot(x="group_all_count",y="individuals_count",kind="scatter")

In [268]:
#data_details=data[["name","group_count","individual_count","intervention_count","output_count","timecourse_count"]]
#data_details.hist(figsize=(10,10),bins=30)
#plt.show()

,groups_count,group_all_count,individuals_count,interventions_count,outputs_count,timecourses_count,results_count
count,101.000000,98.000000,101.000000,101.000000,101.000000,101.000000,101.000000
mean,2.564356,30.836735,8.663366,2.950495,59.356436,8.683168,68.039604
std,1.779977,108.553250,16.527115,5.280864,89.844597,16.651685,89.274064
min,0.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,10.000000,0.000000,1.000000,0.000000,0.000000,14.000000
50%,3.000000,14.500000,0.000000,2.000000,26.000000,4.000000,32.000000
75%,3.000000,25.000000,12.000000,3.000000,80.000000,11.000000,90.000000
max,9.000000,1082.000000,102.000000,37.000000,510.000000,132.000000,510.000000