In [76]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [77]:
from utils import get_data, get_headers
from urllib.parse import urljoin

In [78]:
url_base = "http://0.0.0.0:8000/api/v1/"
params = {"format":"json",'page_size':2000}

In [79]:
url= urljoin(url_base, 'outputs_analysis/')
outputs = get_data(url,get_headers(),**params )

In [80]:
outputs

        pk  ... timecourse_pk
0     2077  ...           NaN
1     2079  ...           NaN
2     2083  ...           NaN
3     2083  ...           NaN
4     2087  ...           NaN
...    ...  ...           ...
6449  5221  ...         344.0
6450  5226  ...         344.0
6451  5226  ...         344.0
6452  5230  ...         344.0
6453  5230  ...         344.0

[6454 rows x 24 columns]

In [81]:
url= urljoin(url_base, 'interventions_elastic/')
internvetions = get_data(url,get_headers(),**params)

In [82]:
internvetions

      pk  study_sid  ... choice    substance
0     95   12891222  ...   None    midazolam
1     96   12891222  ...   None    midazolam
2     97   12891222  ...   None    midazolam
3     98   12891222  ...   None    midazolam
4     99   12891222  ...   None    midazolam
..   ...        ...  ...    ...          ...
137  228  PKDB00022  ...   None  paracetamol
138  183  PKDB00202  ...   None    midazolam
139  184  PKDB00202  ...   None    midazolam
140  185  PKDB00202  ...   None    midazolam
141  186  PKDB00202  ...   None    midazolam

[142 rows x 23 columns]

In [83]:
url= urljoin(url_base, 'characteristica_elastic/')
characteristica = get_data(url,get_headers(),**params )

In [84]:
characteristica
#subject_type
#group_count
#group_parent_pk
#individual_group_pk

      study_sid  ... individual_group_pk
0       2723115  ...                46.0
1       2723115  ...                 NaN
2       2723115  ...                46.0
3       2723115  ...                 NaN
4       2723115  ...                46.0
...         ...  ...                 ...
1011  PKDB00217  ...                 NaN
1012  PKDB00022  ...                 NaN
1013  PKDB00022  ...                 NaN
1014  PKDB00022  ...                 NaN
1015  PKDB00022  ...                 NaN

[1016 rows x 25 columns]

In [96]:
url= urljoin(url_base, 'output_intervention/')
output_intervention = get_data(url,get_headers(),**params )

In [97]:
output_intervention

      study_pk    study_name  ...  cv      unit
0         18.0     Klotz1982  ... NaN      l/kg
1         18.0     Klotz1982  ... NaN      l/kg
2         18.0     Klotz1982  ... NaN      l/kg
3         18.0     Klotz1982  ... NaN        hr
4         18.0     Klotz1982  ... NaN        hr
...        ...           ...  ...  ..       ...
4606      75.0  Langford2016  ... NaN  mg*min/l
4607      75.0  Langford2016  ... NaN     mg/ml
4608      75.0  Langford2016  ... NaN       min
4609      75.0  Langford2016  ... NaN  mg*min/l
4610      75.0  Langford2016  ... NaN  mg*min/l

[4611 rows x 21 columns]

In [98]:
url= urljoin(url_base, 'timecourse_intervention/')
timecourse_intervention = get_data(url,get_headers(),timecourse=True,**params )

In [99]:
timecourse_intervention

     study_pk  timecourse_pk  ...    cv   unit
0         NaN              5  ...  None  ng/ml
1         NaN              5  ...  None  ng/ml
2         NaN              5  ...  None  ng/ml
3         NaN              6  ...  None  ng/ml
4         NaN              7  ...  None  ng/ml
..        ...            ...  ...   ...    ...
514      75.0            862  ...  None   mg/L
515      76.0            869  ...  None  µg/ml
516      76.0            870  ...  None  µg/ml
517      76.0            871  ...  None  µg/ml
518      76.0            872  ...  None  µg/ml

[519 rows x 20 columns]