In [26]:
from utils import PkdbModel,measurement_type_data, filter_out, convert_unit
from collections import namedtuple
import pandas as pd
from IPython.display import display, HTML

def multi_table(table_list):
    ''' Acceps a list of IpyTable objects and returns a table which contains each IpyTable in a cell    '''
    return HTML(
         '<table><tr style="background-color:white;">' +
         ''.join(['<td>' + table._repr_html_() + '</td>' for table in table_list]) +
         '</tr></table>'
     )

In [27]:
def codeine_n_idx(data):
    return (data.substance_intervention == 'codeine phosphate') \
           & (data.substance == 'codeine') \
           & (data['tissue'] == 'plasma')

In [42]:
def all_codeine_idx(data):
     return ((data.substance_intervention == 'codeine phosphate') \
           |(data.substance_intervention == 'codeine sulphate') \
           |(data.substance_intervention == 'codeine')) \
           & (data["substance"] == 'codeine') \
           & (data['tissue'] == 'plasma')

In [43]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [46]:
all_complete = PkdbModel("all_complete", destination="2-merged")
all_complete.read()
all_complete.to_numeric()
complete_codeine = all_complete.data.loc[all_codeine_idx(all_complete.data)]
complete_codeine["inferred"] = False

/home/janek/.virtualenvs/pkdb_analysis/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [47]:
complete_codeine

,Unnamed: 0,study,output_type,pk,measurement_type,allowed_users,interventions,raw_pk,access,substance,...,"(lean body mass, mean)","(lean body mass, sd)","(lean body mass, unit)","(cyp2d6 variant, choice)","(cyp2d6 variant, count)","(fat weight, count)","(fat weight, mean)","(fat weight, se)","(fat weight, unit)",inferred
3304,3304,Loetsch2006,outputs,21481,clearance,"[{'username': 'dimitra'}, {'username': 'mkoeni...",796,21473,public,codeine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3305,3305,Loetsch2006,outputs,21482,cmax,"[{'username': 'dimitra'}, {'username': 'mkoeni...",796,21474,public,codeine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3306,3306,Loetsch2006,outputs,21485,vd,"[{'username': 'dimitra'}, {'username': 'mkoeni...",796,21477,public,codeine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3307,3307,Loetsch2006,outputs,21486,tmax,"[{'username': 'dimitra'}, {'username': 'mkoeni...",796,21478,public,codeine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3327,3327,Loetsch2006,outputs,21483,kel,"[{'username': 'dimitra'}, {'username': 'mkoeni...",796,21475,public,codeine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3340,3340,Loetsch2006,outputs,21480,auc_inf,"[{'username': 'dimitra'}, {'username': 'mkoeni...",796,21472,public,codeine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3348,3348,Loetsch2006,outputs,21479,auc_end,"[{'username': 'dimitra'}, {'username': 'mkoeni...",796,21471,public,codeine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3349,3349,Loetsch2006,outputs,21484,thalf,"[{'username': 'dimitra'}, {'username': 'mkoeni...",796,21476,public,codeine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3377,3377,Loetsch2006,timecourses,1845,concentration,"[{'username': 'dimitra'}, {'username': 'mkoeni...",796,1779,public,codeine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3383,3383,Loetsch2006,outputs,21329,vd,"[{'username': 'dimitra'}, {'username': 'mkoeni...",796,21321,public,codeine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3389,3389,Loetsch2006,outputs,21326,cmax,"[{'username': 'dimitra'}, {'username': 'mkoeni...",796,21318,public,codeine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3390,3390,Loetsch2006,outputs,21328,thalf,"[{'username': 'dimitra'}, {'username': 'mkoeni...",796,21320,public,codeine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3414,3414,Loetsch2006,outputs,21324,auc_inf,"[{'username': 'dimitra'}, {'username': 'mkoeni...",796,21316,public,codeine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3415,3415,Loetsch2006,outputs,21325,clearance,"[{'username': 'dimitra'}, {'username': 'mkoeni...",796,21317,public,codeine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3429,3429,Loetsch2006,outputs,21327,kel,"[{'username': 'dimitra'}, {'username': 'mkoeni...",796,21319,public,codeine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3430,3430,Loetsch2006,outputs,21330,tmax,"[{'username': 'dimitra'}, {'username': 'mkoeni...",796,21322,public,codeine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3438,3438,Loetsch2006,outputs,21323,auc_end,"[{'username': 'dimitra'}, {'username': 'mkoeni...",796,21315,public,codeine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3458,3458,Loetsch2006,timecourses,1835,concentration,"[{'username': 'dimitra'}, {'username': 'mkoeni...",796,1769,public,codeine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3463,3463,Loetsch2006,outputs,21356,auc_inf,"[{'username': 'dimitra'}, {'username': 'mkoeni...",796,21348,public,codeine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3469,3469,Loetsch2006,outputs,21355,auc_end,"[{'username': 'dimitra'}, {'username': 'mkoeni...",796,21347,public,codeine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3479,3479,Loetsch2006,outputs,21358,cmax,"[{'username': 'dimitra'}, {'username': 'mkoeni...",796,21350,public,codeine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3480,3480,Loetsch2006,outputs,21359,kel,"[{'username': 'dimitra'}, {'username': 'mkoeni...",796,21351,public,codeine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3486,3486,Loetsch2006,outputs,21361,vd,"[{'username': 'dimitra'}, {'username': 'mkoeni...",796,21353,public,codeine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3492,3492,Loetsch2006,outputs,21357,clearance,"[{'username': 'dimitra'}, {'username': 'mkoeni...",796,21349,public,codeine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3493,3493,Loetsch2006,outputs,21360,thalf,"[{'username': 'dimitra'}, {'username': 'mkoeni...",796,21352,public,codeine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3494,3494,Loetsch2006,outputs,21362,tmax,"[{'username': 'dimitra'}, {'username': 'mkoeni...",796,21354,public,codeine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3515,3515,Loetsch2006,timecourses,1837,concentration,"[{'username': 'dimitra'}, {'username': 'mkoeni...",796,1771,public,codeine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3525,3525,Loetsch2006,outputs,21389,clearance,"[{'username': 'dimitra'}, {'username': 'mkoeni...",796,21381,public,codeine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3526,3526,Loetsch2006,outputs,21390,cmax,"[{'username': 'dimitra'}, {'username': 'mkoeni...",796,21382,public,codeine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3541,3541,Loetsch2006,outputs,21387,auc_end,"[{'username': 'dimitra'}, {'username': 'mkoeni...",796,21379,public,codeine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11826,11826,Wu2014,outputs,24578,auc_end,"[{'username': 'dimitra'}, {'username': 'mkoeni...",848,24475,public,codeine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
11827,11827,Wu2014,outputs,24582,auc_end,"[{'username': 'dimitra'}, {'username': 'mkoeni...",848,24479,public,codeine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
11828,11828,Wu2014,outputs,24583,auc_end,"[{'username': 'dimitra'}, {'username': 'mkoeni...",848,24480,public,codeine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
11829,11829,Wu2014,outputs,24591,auc_end,"[{'username': 'dimitra'}, {'username': 'mkoeni...",848,24488,public,codeine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
11830,11830,Wu2014,outputs,24599,auc_end,"[{'username': 'dimitra'}, {'username': 'mkoeni...",848,24496,public,codeine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
11831,11831,Wu2014,outputs,24602,auc_end,"[{'username': 'dimitra'}, {'username': 'mkoeni...",848,24499,public,codeine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
12289,12289,Wu2014,outputs,24384,cmax,"[{'username': 'dimitra'}, {'username': 'mkoeni...",848,24279,public,codeine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
12290,12290,Wu2014,outputs,24385,cmax,"[{'username': 'dimitra'}, {'username': 'mkoeni...",848,24280,public,codeine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
12291,12291,Wu2014,outputs,24388,cmax,"[{'username': 'dimitra'}, {'username': 'mkoeni...",848,24283,public,codeine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
12292,12292,Wu2014,outputs,24392,cmax,"[{'username': 'dimitra'}, {'username': 'mkoeni...",848,24287,public,codeine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
12293,12293,Wu2014,outputs,24395,cmax,"[{'username': 'dimitra'}, {'username': 'mkoeni...",848,24290,public,codeine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
12294,12294,Wu2014,outputs,24397,cmax,"[{'username': 'dimitra'}, {'username': 'mkoeni...",848,24292,public,codeine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
12295,12295,Wu2014,outputs,24398,cmax,"[{'username': 'dimitra'}, {'username': 'mkoeni...",848,24293,public,codeine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
12309,12309,Wu2014,outputs,24584,auc_end,"[{'username': 'dimitra'}, {'username': 'mkoeni...",848,24481,public,codeine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
12310,12310,Wu2014,outputs,24593,auc_end,"[{'username': 'dimitra'}, {'username': 'mkoeni...",848,24490,public,codeine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
12311,12311,Wu2014,outputs,24594,auc_end,"[{'username': 'dimitra'}, {'username': 'mkoeni...",848,24491,public,codeine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
12312,12312,Wu2014,outputs,24601,auc_end,"[{'username': 'dimitra'}, {'username': 'mkoeni...",848,24498,public,codeine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
12379,12379,Wu2014,outputs,24372,cmax,"[{'username': 'dimitra'}, {'username': 'mkoeni...",848,24267,public,codeine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
12380,12380,Wu2014,outputs,24376,cmax,"[{'username': 'dimitra'}, {'username': 'mkoeni...",848,24271,public,codeine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
12381,12381,Wu2014,outputs,24380,cmax,"[{'username': 'dimitra'}, {'username': 'mkoeni...",848,24275,public,codeine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
12382,12382,Wu2014,outputs,24394,cmax,"[{'username': 'dimitra'}, {'username': 'mkoeni...",848,24289,public,codeine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
12383,12383,Wu2014,outputs,24396,cmax,"[{'username': 'dimitra'}, {'username': 'mkoeni...",848,24291,public,codeine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
12399,12399,Wu2014,outputs,24581,auc_end,"[{'username': 'dimitra'}, {'username': 'mkoeni...",848,24478,public,codeine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
12400,12400,Wu2014,outputs,24585,auc_end,"[{'username': 'dimitra'}, {'username': 'mkoeni...",848,24482,public,codeine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
12401,12401,Wu2014,outputs,24588,auc_end,"[{'username': 'dimitra'}, {'username': 'mkoeni...",848,24485,public,codeine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
12402,12402,Wu2014,outputs,24589,auc_end,"[{'username': 'dimitra'}, {'username': 'mkoeni...",848,24486,public,codeine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
12403,12403,Wu2014,outputs,24590,auc_end,"[{'username': 'dimitra'}, {'username': 'mkoeni...",848,24487,public,codeine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
12404,12404,Wu2014,outputs,24597,auc_end,"[{'username': 'dimitra'}, {'username': 'mkoeni...",848,24494,public,codeine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
12405,12405,Wu2014,outputs,24600,auc_end,"[{'username': 'dimitra'}, {'username': 'mkoeni...",848,24497,public,codeine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
12406,12406,Wu2014,outputs,24603,auc_end,"[{'username': 'dimitra'}, {'username': 'mkoeni...",848,24500,public,codeine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False

In [48]:
Inference = namedtuple("Inference",["name","filter_out","measurement_type"])

In [49]:
inferences = [
    Inference(
        name="codeine_clearance",
        filter_out= {"unit":[ 'microgram * milliliter / hour / micromole']},
        measurement_type = "clearance",
    ),
    Inference(
        name="codeine_timecourse",
        filter_out= {"unit":["mole / liter"]},
        measurement_type = "concentration"
    ),
    Inference(
        name="codeine_thalf",
        filter_out= {},
        measurement_type = "thalf"
    ), 
    Inference(
        name="codeine_tmax",
        filter_out= {},
        measurement_type = "tmax"
    ),
    Inference(
        name="codeine_vd",
        filter_out= {"unit":[ 'liter * milligram / millimole']},
        measurement_type = "vd"
    ),
     Inference(
        name="codeine_auc_inf",
        filter_out= {},
        measurement_type = "auc_inf"
    ),
     Inference(
        name="codeine_auc_end",
        filter_out= {},
        measurement_type = "auc_end"
    ),
    Inference(
        name="codeine_kel",
        filter_out= {},
        measurement_type = "kel"
    ),
]

In [50]:
for inference in inferences:
    print(inference.name)
    data = measurement_type_data(complete_codeine,inference.measurement_type)
    data_class = PkdbModel(inference.name,destination="3-inferred")
    data_class.data = data
    [data_class.filter_out(k,v)for k,v in inference.filter_out.items()]
    data_class.infer_from_interventions()
    data_class.infer_from_outputs()
    data_class.save()

    t1 = pd.DataFrame(data_class.data.groupby(["unit", "unit_intervention"]).apply(len), columns=["count"])
    t2 = pd.DataFrame(data_class.data.groupby(["inferred"]).apply(len), columns=["count"])
    t3 = pd.DataFrame(data_class.data.groupby(["calculated"]).apply(len), columns=["count"])
    display(multi_table([t1,t2,t3]))

codeine_clearance

codeine_timecourse

codeine_thalf

codeine_tmax

codeine_vd

codeine_auc_inf

codeine_auc_end

codeine_kel