In [23]:
%load_ext autoreload
%autoreload 2
from IPython.display import display
from pkdb_analysis import PKFilter, PKFilterFactory, PKData

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# Curation and checking of studies
Helpers for simple checking of curated results.

In [24]:
# get data for study
pkfilter = PKFilterFactory.by_study_name("Lee1981")
data = PKData.from_db(pkfilter=pkfilter)
print(data)

WARNING:root:*** Querying data ***
WARNING:root:http://0.0.0.0:8000/api/v1/interventions_elastic/?format=json&page_size=2000&normed=true&study_name=Lee1981
WARNING:root:http://0.0.0.0:8000/api/v1/interventions_elastic/?format=json&page_size=2000&normed=true&study_name=Lee1981&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000&study_name=Lee1981
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000&study_name=Lee1981&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_groups/?format=json&page_size=2000&study_name=Lee1981
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_groups/?format=json&page_size=2000&study_name=Lee1981&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&normed=true&study_name=Lee1981
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&normed=true&study_name=Lee1981&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/timecourse_intervention/?format=json&page_size=2000&normed=true&study_name=Lee1981
WARNING:root:http://0.0.0.0:8000/api/v1/timecourse_intervention/?format=json&page_size=2000&normed=true&study_name=Lee1981&page=1
WARNING:root:Calculating choices

<class 'pkdb_analysis.data.PKData'>
	individuals: 22
	groups: 5
	interventions: 7
	outputs: 96
	timecourses: 3

# Visualize the content

In [27]:
data.groups.group_pk.unique()

array([3, 4, 2])

In [40]:
groups = data.groups.sort_values(['group_pk', 'characteristica_pk'], ascending=True)
groups = groups.set_index(['group_pk', 'characteristica_pk'], inplace=False)
groups

                            study_sid study_name group_name  group_count  \
group_pk characteristica_pk
2        38                   7263926    Lee1981        all            7
3        38                   7263926    Lee1981      obese            4
         41                   7263926    Lee1981      obese            4
         42                   7263926    Lee1981      obese            4
4        38                   7263926    Lee1981    control            3

                             group_parent_pk  count     measurement_type  \
group_pk characteristica_pk
2        38                               -1      7              species
3        38                                2      7              species
         41                                2      4              healthy
         42                                2      4  weight (categorial)
4        38                                2      7              species

                                   choice substance  value  mean  median  min  \
group_pk characteristica_pk
2        38                  homo sapiens      None    NaN   NaN     NaN  NaN
3        38                  homo sapiens      None    NaN   NaN     NaN  NaN
         41                             N      None    NaN   NaN     NaN  NaN
         42                         obese      None    NaN   NaN     NaN  NaN
4        38                  homo sapiens      None    NaN   NaN     NaN  NaN

                             max  sd  se  cv  unit
group_pk characteristica_pk
2        38                  NaN NaN NaN NaN  None
3        38                  NaN NaN NaN NaN  None
         41                  NaN NaN NaN NaN  None
         42                  NaN NaN NaN NaN  None
4        38                  NaN NaN NaN NaN  None

In [42]:
individuals = data.individuals.sort_values(['individual_pk', 'characteristica_pk'], ascending=True)
individuals = individuals.set_index(['individual_pk', 'characteristica_pk'], inplace=False)
individuals

                                 study_sid study_name individual_name  \
individual_pk characteristica_pk
7             38                   7263926    Lee1981        subject1
              41                   7263926    Lee1981        subject1
              42                   7263926    Lee1981        subject1
              44                   7263926    Lee1981        subject1
8             38                   7263926    Lee1981        subject2
              41                   7263926    Lee1981        subject2
              42                   7263926    Lee1981        subject2
              46                   7263926    Lee1981        subject2
9             38                   7263926    Lee1981        subject3
              41                   7263926    Lee1981        subject3
              42                   7263926    Lee1981        subject3
              48                   7263926    Lee1981        subject3
10            38                   7263926    Lee1981        subject4
              41                   7263926    Lee1981        subject4
              42                   7263926    Lee1981        subject4
              50                   7263926    Lee1981        subject4
11            38                   7263926    Lee1981        subject5
              52                   7263926    Lee1981        subject5
12            38                   7263926    Lee1981        subject6
              54                   7263926    Lee1981        subject6
13            38                   7263926    Lee1981        subject7
              56                   7263926    Lee1981        subject7

                                  individual_group_pk  count  \
individual_pk characteristica_pk
7             38                                    3      7
              41                                    3      4
              42                                    3      4
              44                                    3      1
8             38                                    3      7
              41                                    3      4
              42                                    3      4
              46                                    3      1
9             38                                    3      7
              41                                    3      4
              42                                    3      4
              48                                    3      1
10            38                                    3      7
              41                                    3      4
              42                                    3      4
              50                                    3      1
11            38                                    4      7
              52                                    4      1
12            38                                    4      7
              54                                    4      1
13            38                                    4      7
              56                                    4      1

                                     measurement_type        choice substance  \
individual_pk characteristica_pk
7             38                              species  homo sapiens      None
              41                              healthy             N      None
              42                  weight (categorial)         obese      None
              44                               weight          None      None
8             38                              species  homo sapiens      None
              41                              healthy             N      None
              42                  weight (categorial)         obese      None
              46                               weight          None      None
9             38                              species  homo sapiens      None
              41                              healthy             N      None
              42                  weight (categorial)         obese      None
              48                               weight          None      None
10            38                              species  homo sapiens      None
              41                              healthy             N      None
              42                  weight (categorial)         obese      None
              50                               weight          None      None
11            38                              species  homo sapiens      None
              52                               weight          None      None
12            38                              species  homo sapiens      None
              54                               weight          None      None
13            38                              species  homo sapiens      None
              56                               weight          None      None

                                  value  mean  median  min  max  sd  se  cv  \
individual_pk characteristica_pk
7             38                    NaN   NaN     NaN  NaN  NaN NaN NaN NaN
              41                    NaN   NaN     NaN  NaN  NaN NaN NaN NaN
              42                    NaN   NaN     NaN  NaN  NaN NaN NaN NaN
              44                  133.0   NaN     NaN  NaN  NaN NaN NaN NaN
8             38                    NaN   NaN     NaN  NaN  NaN NaN NaN NaN
              41                    NaN   NaN     NaN  NaN  NaN NaN NaN NaN
              42                    NaN   NaN     NaN  NaN  NaN NaN NaN NaN
              46                  161.0   NaN     NaN  NaN  NaN NaN NaN NaN
9             38                    NaN   NaN     NaN  NaN  NaN NaN NaN NaN
              41                    NaN   NaN     NaN  NaN  NaN NaN NaN NaN
              42                    NaN   NaN     NaN  NaN  NaN NaN NaN NaN
              48                  189.0   NaN     NaN  NaN  NaN NaN NaN NaN
10            38                    NaN   NaN     NaN  NaN  NaN NaN NaN NaN
              41                    NaN   NaN     NaN  NaN  NaN NaN NaN NaN
              42                    NaN   NaN     NaN  NaN  NaN NaN NaN NaN
              50                  135.0   NaN     NaN  NaN  NaN NaN NaN NaN
11            38                    NaN   NaN     NaN  NaN  NaN NaN NaN NaN
              52                    NaN   NaN     NaN  NaN  NaN NaN NaN NaN
12            38                    NaN   NaN     NaN  NaN  NaN NaN NaN NaN
              54                    NaN   NaN     NaN  NaN  NaN NaN NaN NaN
13            38                    NaN   NaN     NaN  NaN  NaN NaN NaN NaN
              56                    NaN   NaN     NaN  NaN  NaN NaN NaN NaN

                                      unit
individual_pk characteristica_pk
7             38                      None
              41                      None
              42                      None
              44                  kilogram
8             38                      None
              41                      None
              42                      None
              46                  kilogram
9             38                      None
              41                      None
              42                      None
              48                  kilogram
10            38                      None
              41                      None
              42                      None
              50                  kilogram
11            38                      None
              52                  kilogram
12            38                      None
              54                  kilogram
13            38                      None
              56                  kilogram

In [45]:
interventions = data.interventions.sort_values(['pk'], ascending=True)
interventions = interventions.set_index(['pk'], inplace=False)
interventions

# FIXME: pk -> intervention_pk

,study_sid,study_name,raw_pk,normed,name,route,form,application,time,time_unit,...,substance,value,mean,median,min,max,sd,se,cv,unit
pk,,,,,,,,,,,,,,,,,,,,,
8,7263926,Lee1981,7,True,paracetamol750mg_po,oral,tablet,single dose,0.0,min,...,paracetamol,0.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gram
15,7263926,Lee1981,9,True,s1_day91,None,None,None,NaN,None,...,None,120.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,kilogram
16,7263926,Lee1981,10,True,s2_day44,None,None,None,NaN,None,...,None,150.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,kilogram
17,7263926,Lee1981,11,True,s2_day98,None,None,None,NaN,None,...,None,134.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,kilogram
18,7263926,Lee1981,12,True,s3_day35,None,None,None,NaN,None,...,None,176.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,kilogram
19,7263926,Lee1981,13,True,s3_day71,None,None,None,NaN,None,...,None,162.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,kilogram
20,7263926,Lee1981,14,True,s4_day91,None,None,None,NaN,None,...,None,127.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,kilogram

In [47]:
outputs = data.outputs.sort_values(['output_pk', 'intervention_pk', 'group_pk', 'individual_pk'], ascending=True)
outputs = outputs.set_index(['output_pk', 'intervention_pk', 'group_pk', 'individual_pk'], inplace=False)
outputs

                                                 study_sid study_name  normed  \
output_pk intervention_pk group_pk individual_pk
251       8               -1       7               7263926    Lee1981    True
252       8               -1       7               7263926    Lee1981    True
          15              -1       7               7263926    Lee1981    True
253       8               -1       7               7263926    Lee1981    True
254       8               -1       7               7263926    Lee1981    True
...                                                    ...        ...     ...
334       8               -1       11              7263926    Lee1981    True
335       8               -1       11              7263926    Lee1981    True
336       8               -1       11              7263926    Lee1981    True
337       8               -1       11              7263926    Lee1981    True
338       8               -1       11              7263926    Lee1981    True

                                                  calculated  tissue  time  \
output_pk intervention_pk group_pk individual_pk
251       8               -1       7                   False  plasma   NaN
252       8               -1       7                   False  plasma   NaN
          15              -1       7                   False  plasma   NaN
253       8               -1       7                   False  plasma   NaN
254       8               -1       7                   False  plasma   NaN
...                                                      ...     ...   ...
334       8               -1       11                   True  plasma   NaN
335       8               -1       11                   True  plasma   NaN
336       8               -1       11                   True  plasma   NaN
337       8               -1       11                   True  plasma   NaN
338       8               -1       11                   True  plasma   NaN

                                                 time_unit measurement_type  \
output_pk intervention_pk group_pk individual_pk
251       8               -1       7                  None            thalf
252       8               -1       7                  None            thalf
          15              -1       7                  None            thalf
253       8               -1       7                  None             tmax
254       8               -1       7                  None             tmax
...                                                    ...              ...
334       8               -1       11                 None             cmax
335       8               -1       11                 None              kel
336       8               -1       11                 None            thalf
337       8               -1       11                 None               vd
338       8               -1       11                 None             tmax

                                                 choice    substance  \
output_pk intervention_pk group_pk individual_pk
251       8               -1       7               None  paracetamol
252       8               -1       7               None  paracetamol
          15              -1       7               None  paracetamol
253       8               -1       7               None  paracetamol
254       8               -1       7               None  paracetamol
...                                                 ...          ...
334       8               -1       11              None  paracetamol
335       8               -1       11              None  paracetamol
336       8               -1       11              None  paracetamol
337       8               -1       11              None  paracetamol
338       8               -1       11              None  paracetamol

                                                      value  mean  median  \
output_pk intervention_pk group_pk individual_pk
251       8               -1       7                3.40000   NaN     NaN
252       8               -1       7                2.90000   NaN     NaN
          15              -1       7                2.90000   NaN     NaN
253       8               -1       7                0.50000   NaN     NaN
254       8               -1       7                1.10000   NaN     NaN
...                                                     ...   ...     ...
334       8               -1       11               0.01050   NaN     NaN
335       8               -1       11               0.00547   NaN     NaN
336       8               -1       11               2.11000   NaN     NaN
337       8               -1       11             101.00000   NaN     NaN
338       8               -1       11               0.50000   NaN     NaN

                                                  min  max  sd  se  cv  \
output_pk intervention_pk group_pk individual_pk
251       8               -1       7              NaN  NaN NaN NaN NaN
252       8               -1       7              NaN  NaN NaN NaN NaN
          15              -1       7              NaN  NaN NaN NaN NaN
253       8               -1       7              NaN  NaN NaN NaN NaN
254       8               -1       7              NaN  NaN NaN NaN NaN
...                                               ...  ...  ..  ..  ..
334       8               -1       11             NaN  NaN NaN NaN NaN
335       8               -1       11             NaN  NaN NaN NaN NaN
336       8               -1       11             NaN  NaN NaN NaN NaN
337       8               -1       11             NaN  NaN NaN NaN NaN
338       8               -1       11             NaN  NaN NaN NaN NaN

                                                          unit
output_pk intervention_pk group_pk individual_pk
251       8               -1       7                      hour
252       8               -1       7                      hour
          15              -1       7                      hour
253       8               -1       7                      hour
254       8               -1       7                      hour
...                                                        ...
334       8               -1       11             gram / liter
335       8               -1       11               1 / minute
336       8               -1       11                     hour
337       8               -1       11                    liter
338       8               -1       11                     hour

[96 rows x 19 columns]