In [19]:
%load_ext autoreload
%autoreload 2
from IPython.display import display
from pkdb_analysis import PKFilter, PKFilterFactory, PKData
import pandas as pd

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [20]:
'''
import numpy as np
import pandas as pd
from init_datatable_mode import init_datatable_mode
init_datatable_mode()  # initialize [DataTables]
# https://medium.com/@marekermk/guide-to-interactive-pandas-dataframe-representation-485acae02946
'''

'\nimport numpy as np\nimport pandas as pd\nfrom init_datatable_mode import init_datatable_mode\ninit_datatable_mode()  # initialize [DataTables]\n# https://medium.com/@marekermk/guide-to-interactive-pandas-dataframe-representation-485acae02946\n'

# Curation and checking of studies
Helpers for simple checking of curated results.

In [21]:
# get data for study
study_name = "Nimmo1978"
pkfilter = PKFilterFactory.by_study_name(study_name)
data = PKData.from_db(pkfilter=pkfilter)
print(data)

WARNING:root:*** Querying data ***
WARNING:root:http://0.0.0.0:8000/api/v1/interventions_elastic/?format=json&page_size=2000&normed=true&study_name=Nimmo1978
WARNING:root:http://0.0.0.0:8000/api/v1/interventions_elastic/?format=json&page_size=2000&normed=true&study_name=Nimmo1978&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000&study_name=Nimmo1978
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000&study_name=Nimmo1978&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_groups/?format=json&page_size=2000&study_name=Nimmo1978
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_groups/?format=json&page_size=2000&study_name=Nimmo1978&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&normed=true&study_name=Nimmo1978
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&normed=true&study_name=Nimmo1978&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/timecourse_intervention/?format=json&page_size=2000&normed=true&study_name=Nimmo1978
WARNING:root:http://0.0.0.0:8000/api/v1/timecourse_intervention/?format=json&page_size=2000&normed=true&study_name=Nimmo1978&page=1
WARNING:root:Calculating choices

<class 'pkdb_analysis.data.PKData'>
	individuals: 0
	groups: 6
	interventions: 3
	outputs: 72
	timecourses: 8

# Visualize the content

In [22]:
data.groups.group_pk.unique()

array([5])

In [23]:
groups = data.groups.sort_values(['group_pk', 'characteristica_pk'], ascending=True)
groups = groups.set_index(['group_pk', 'characteristica_pk'], inplace=False)
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    display(groups)

                             study_sid study_name group_name  group_count  \
group_pk characteristica_pk
5        127                 PKDB00219  Nimmo1978        all            8
         128                 PKDB00219  Nimmo1978        all            8
         129                 PKDB00219  Nimmo1978        all            8
         130                 PKDB00219  Nimmo1978        all            8
         131                 PKDB00219  Nimmo1978        all            8
         132                 PKDB00219  Nimmo1978        all            8

                             group_parent_pk  count measurement_type  \
group_pk characteristica_pk
5        127                              -1      8          species
         128                              -1      8              sex
         129                              -1      8          healthy
         130                              -1      8              age
         131                              -1      8           weight
         132                              -1      8   overnight fast

                                   choice substance  value  mean  median  min  \
group_pk characteristica_pk
5        127                 homo sapiens      None    NaN   NaN     NaN  NaN
         128                            M      None    NaN   NaN     NaN  NaN
         129                            Y      None    NaN   NaN     NaN  NaN
         130                         None      None    NaN  29.0     NaN  NaN
         131                         None      None    NaN  68.8     NaN  NaN
         132                            Y      None    NaN   NaN     NaN  NaN

                             max   sd  se  cv      unit
group_pk characteristica_pk
5        127                 NaN  NaN NaN NaN      None
         128                 NaN  NaN NaN NaN      None
         129                 NaN  NaN NaN NaN      None
         130                 NaN  1.8 NaN NaN        yr
         131                 NaN  8.2 NaN NaN  kilogram
         132                 NaN  NaN NaN NaN      None

In [24]:
data.individuals

Empty DataFrame
Columns: []
Index: []

In [25]:
if not data.individuals.empty:
    individuals = data.individuals.sort_values(['individual_pk', 'characteristica_pk'], ascending=True)
    individuals = individuals.set_index(['individual_pk', 'characteristica_pk'], inplace=False)
    with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
        display(individuals)

In [26]:
interventions = data.interventions.sort_values(['pk'], ascending=True)
interventions = interventions.set_index(['pk'], inplace=False)
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    display(interventions)
# FIXME: pk -> intervention_pk

,study_sid,study_name,raw_pk,normed,name,route,form,application,time,time_unit,measurement_type,choice,substance,value,mean,median,min,max,sd,se,cv,unit
pk,,,,,,,,,,,,,,,,,,,,,,
26,PKDB00219,Nimmo1978,25,True,ambulant,None,None,None,NaN,None,body position,ambulant,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
28,PKDB00219,Nimmo1978,27,True,bed rest,None,None,None,NaN,None,body position,supine,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
30,PKDB00219,Nimmo1978,29,True,paracetamol1500mg_po,oral,tablet,single dose,0.0,min,dosing,None,paracetamol,1.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gram

In [27]:
outputs = data.outputs.sort_values(['output_pk', 'intervention_pk', 'group_pk', 'individual_pk'], ascending=True)
outputs = outputs.set_index(['output_pk', 'intervention_pk', 'group_pk', 'individual_pk'], inplace=False)
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    display(outputs)

                                                  study_sid study_name  \
output_pk intervention_pk group_pk individual_pk
3         2               1        -1             Nimmo1978  Nimmo1978
          6               1        -1             Nimmo1978  Nimmo1978
4         2               1        -1             Nimmo1978  Nimmo1978
          6               1        -1             Nimmo1978  Nimmo1978
13        2               1        -1             Nimmo1978  Nimmo1978
          6               1        -1             Nimmo1978  Nimmo1978
14        2               1        -1             Nimmo1978  Nimmo1978
          6               1        -1             Nimmo1978  Nimmo1978
15        2               1        -1             Nimmo1978  Nimmo1978
          6               1        -1             Nimmo1978  Nimmo1978
16        2               1        -1             Nimmo1978  Nimmo1978
          6               1        -1             Nimmo1978  Nimmo1978
17        2               1        -1             Nimmo1978  Nimmo1978
          6               1        -1             Nimmo1978  Nimmo1978
18        2               1        -1             Nimmo1978  Nimmo1978
          6               1        -1             Nimmo1978  Nimmo1978
19        2               1        -1             Nimmo1978  Nimmo1978
          6               1        -1             Nimmo1978  Nimmo1978
20        2               1        -1             Nimmo1978  Nimmo1978
          6               1        -1             Nimmo1978  Nimmo1978
29        4               1        -1             Nimmo1978  Nimmo1978
          6               1        -1             Nimmo1978  Nimmo1978
30        4               1        -1             Nimmo1978  Nimmo1978
          6               1        -1             Nimmo1978  Nimmo1978
31        4               1        -1             Nimmo1978  Nimmo1978
          6               1        -1             Nimmo1978  Nimmo1978
32        4               1        -1             Nimmo1978  Nimmo1978
          6               1        -1             Nimmo1978  Nimmo1978
33        4               1        -1             Nimmo1978  Nimmo1978
          6               1        -1             Nimmo1978  Nimmo1978
34        4               1        -1             Nimmo1978  Nimmo1978
          6               1        -1             Nimmo1978  Nimmo1978
35        4               1        -1             Nimmo1978  Nimmo1978
          6               1        -1             Nimmo1978  Nimmo1978
36        4               1        -1             Nimmo1978  Nimmo1978
          6               1        -1             Nimmo1978  Nimmo1978
669       26              5        -1             PKDB00219  Nimmo1978
          30              5        -1             PKDB00219  Nimmo1978
670       26              5        -1             PKDB00219  Nimmo1978
          30              5        -1             PKDB00219  Nimmo1978
679       26              5        -1             PKDB00219  Nimmo1978
          30              5        -1             PKDB00219  Nimmo1978
680       26              5        -1             PKDB00219  Nimmo1978
          30              5        -1             PKDB00219  Nimmo1978
681       26              5        -1             PKDB00219  Nimmo1978
          30              5        -1             PKDB00219  Nimmo1978
682       26              5        -1             PKDB00219  Nimmo1978
          30              5        -1             PKDB00219  Nimmo1978
683       26              5        -1             PKDB00219  Nimmo1978
          30              5        -1             PKDB00219  Nimmo1978
684       26              5        -1             PKDB00219  Nimmo1978
          30              5        -1             PKDB00219  Nimmo1978
685       26              5        -1             PKDB00219  Nimmo1978
          30              5        -1             PKDB00219  Nimmo1978
686       26              5        -1             PKDB00219  Nimmo1978
          30              5        -1             PKDB00219  Nimmo1978
695       28              5        -1             PKDB00219  Nimmo1978
          30              5        -1             PKDB00219  Nimmo1978
696       28              5        -1             PKDB00219  Nimmo1978
          30              5        -1             PKDB00219  Nimmo1978
697       28              5        -1             PKDB00219  Nimmo1978
          30              5        -1             PKDB00219  Nimmo1978
698       28              5        -1             PKDB00219  Nimmo1978
          30              5        -1             PKDB00219  Nimmo1978
699       28              5        -1             PKDB00219  Nimmo1978
          30              5        -1             PKDB00219  Nimmo1978
700       28              5        -1             PKDB00219  Nimmo1978
          30              5        -1             PKDB00219  Nimmo1978
701       28              5        -1             PKDB00219  Nimmo1978
          30              5        -1             PKDB00219  Nimmo1978
702       28              5        -1             PKDB00219  Nimmo1978
          30              5        -1             PKDB00219  Nimmo1978

                                                  normed  calculated  tissue  \
output_pk intervention_pk group_pk individual_pk
3         2               1        -1               True       False  plasma
          6               1        -1               True       False  plasma
4         2               1        -1               True       False  plasma
          6               1        -1               True       False  plasma
13        2               1        -1               True        True  plasma
          6               1        -1               True        True  plasma
14        2               1        -1               True        True  plasma
          6               1        -1               True        True  plasma
15        2               1        -1               True        True  plasma
          6               1        -1               True        True  plasma
16        2               1        -1               True        True  plasma
          6               1        -1               True        True  plasma
17        2               1        -1               True        True  plasma
          6               1        -1               True        True  plasma
18        2               1        -1               True        True  plasma
          6               1        -1               True        True  plasma
19        2               1        -1               True        True  plasma
          6               1        -1               True        True  plasma
20        2               1        -1               True        True  plasma
          6               1        -1               True        True  plasma
29        4               1        -1               True        True  plasma
          6               1        -1               True        True  plasma
30        4               1        -1               True        True  plasma
          6               1        -1               True        True  plasma
31        4               1        -1               True        True  plasma
          6               1        -1               True        True  plasma
32        4               1        -1               True        True  plasma
          6               1        -1               True        True  plasma
33        4               1        -1               True        True  plasma
          6               1        -1               True        True  plasma
34        4               1        -1               True        True  plasma
          6               1        -1               True        True  plasma
35        4               1        -1               True        True  plasma
          6               1        -1               True        True  plasma
36        4               1        -1               True        True  plasma
          6               1        -1               True        True  plasma
669       26              5        -1               True       False  plasma
          30              5        -1               True       False  plasma
670       26              5        -1               True       False  plasma
          30              5        -1               True       False  plasma
679       26              5        -1               True        True  plasma
          30              5        -1               True        True  plasma
680       26              5        -1               True        True  plasma
          30              5        -1               True        True  plasma
681       26              5        -1               True        True  plasma
          30              5        -1               True        True  plasma
682       26              5        -1               True        True  plasma
          30              5        -1               True        True  plasma
683       26              5        -1               True        True  plasma
          30              5        -1               True        True  plasma
684       26              5        -1               True        True  plasma
          30              5        -1               True        True  plasma
685       26              5        -1               True        True  plasma
          30              5        -1               True        True  plasma
686       26              5        -1               True        True  plasma
          30              5        -1               True        True  plasma
695       28              5        -1               True        True  plasma
          30              5        -1               True        True  plasma
696       28              5        -1               True        True  plasma
          30              5        -1               True        True  plasma
697       28              5        -1               True        True  plasma
          30              5        -1               True        True  plasma
698       28              5        -1               True        True  plasma
          30              5        -1               True        True  plasma
699       28              5        -1               True        True  plasma
          30              5        -1               True        True  plasma
700       28              5        -1               True        True  plasma
          30              5        -1               True        True  plasma
701       28              5        -1               True        True  plasma
          30              5        -1               True        True  plasma
702       28              5        -1               True        True  plasma
          30              5        -1               True        True  plasma

                                                  time time_unit  \
output_pk intervention_pk group_pk individual_pk
3         2               1        -1              4.0        hr
          6               1        -1              4.0        hr
4         2               1        -1              4.0        hr
          6               1        -1              4.0        hr
13        2               1        -1              1.5        hr
          6               1        -1              1.5        hr
14        2               1        -1              NaN      None
          6               1        -1              NaN      None
15        2               1        -1              NaN      None
          6               1        -1              NaN      None
16        2               1        -1              NaN      None
          6               1        -1              NaN      None
17        2               1        -1              NaN      None
          6               1        -1              NaN      None
18        2               1        -1              NaN      None
          6               1        -1              NaN      None
19        2               1        -1              NaN      None
          6               1        -1              NaN      None
20        2               1        -1              NaN      None
          6               1        -1              NaN      None
29        4               1        -1              1.5        hr
          6               1        -1              1.5        hr
30        4               1        -1              NaN      None
          6               1        -1              NaN      None
31        4               1        -1              NaN      None
          6               1        -1              NaN      None
32        4               1        -1              NaN      None
          6               1        -1              NaN      None
33        4               1        -1              NaN      None
          6               1        -1              NaN      None
34        4               1        -1              NaN      None
          6               1        -1              NaN      None
35        4               1        -1              NaN      None
          6               1        -1              NaN      None
36        4               1        -1              NaN      None
          6               1        -1              NaN      None
669       26              5        -1              4.0        hr
          30              5        -1              4.0        hr
670       26              5        -1              4.0        hr
          30              5        -1              4.0        hr
679       26              5        -1              1.5        hr
          30              5        -1              1.5        hr
680       26              5        -1              NaN      None
          30              5        -1              NaN      None
681       26              5        -1              NaN      None
          30              5        -1              NaN      None
682       26              5        -1              NaN      None
          30              5        -1              NaN      None
683       26              5        -1              NaN      None
          30              5        -1              NaN      None
684       26              5        -1              NaN      None
          30              5        -1              NaN      None
685       26              5        -1              NaN      None
          30              5        -1              NaN      None
686       26              5        -1              NaN      None
          30              5        -1              NaN      None
695       28              5        -1              1.5        hr
          30              5        -1              1.5        hr
696       28              5        -1              NaN      None
          30              5        -1              NaN      None
697       28              5        -1              NaN      None
          30              5        -1              NaN      None
698       28              5        -1              NaN      None
          30              5        -1              NaN      None
699       28              5        -1              NaN      None
          30              5        -1              NaN      None
700       28              5        -1              NaN      None
          30              5        -1              NaN      None
701       28              5        -1              NaN      None
          30              5        -1              NaN      None
702       28              5        -1              NaN      None
          30              5        -1              NaN      None

                                                 measurement_type choice  \
output_pk intervention_pk group_pk individual_pk
3         2               1        -1                     auc_end   None
          6               1        -1                     auc_end   None
4         2               1        -1                     auc_end   None
          6               1        -1                     auc_end   None
13        2               1        -1                     auc_end   None
          6               1        -1                     auc_end   None
14        2               1        -1                     auc_inf   None
          6               1        -1                     auc_inf   None
15        2               1        -1                   clearance   None
          6               1        -1                   clearance   None
16        2               1        -1                        cmax   None
          6               1        -1                        cmax   None
17        2               1        -1                         kel   None
          6               1        -1                         kel   None
18        2               1        -1                       thalf   None
          6               1        -1                       thalf   None
19        2               1        -1                          vd   None
          6               1        -1                          vd   None
20        2               1        -1                        tmax   None
          6               1        -1                        tmax   None
29        4               1        -1                     auc_end   None
          6               1        -1                     auc_end   None
30        4               1        -1                     auc_inf   None
          6               1        -1                     auc_inf   None
31        4               1        -1                   clearance   None
          6               1        -1                   clearance   None
32        4               1        -1                        cmax   None
          6               1        -1                        cmax   None
33        4               1        -1                         kel   None
          6               1        -1                         kel   None
34        4               1        -1                       thalf   None
          6               1        -1                       thalf   None
35        4               1        -1                          vd   None
          6               1        -1                          vd   None
36        4               1        -1                        tmax   None
          6               1        -1                        tmax   None
669       26              5        -1                     auc_end   None
          30              5        -1                     auc_end   None
670       26              5        -1                     auc_end   None
          30              5        -1                     auc_end   None
679       26              5        -1                     auc_end   None
          30              5        -1                     auc_end   None
680       26              5        -1                     auc_inf   None
          30              5        -1                     auc_inf   None
681       26              5        -1                   clearance   None
          30              5        -1                   clearance   None
682       26              5        -1                        cmax   None
          30              5        -1                        cmax   None
683       26              5        -1                         kel   None
          30              5        -1                         kel   None
684       26              5        -1                       thalf   None
          30              5        -1                       thalf   None
685       26              5        -1                          vd   None
          30              5        -1                          vd   None
686       26              5        -1                        tmax   None
          30              5        -1                        tmax   None
695       28              5        -1                     auc_end   None

In [18]:
timecourses = data.timecourses.sort_values(['timecourse_pk', 'intervention_pk', 'group_pk', 'individual_pk'], ascending=True)
timecourses = timecourses.set_index(['timecourse_pk', 'intervention_pk', 'group_pk', 'individual_pk'], inplace=False)
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    display(timecourses)

                                                      study_sid study_name  \
timecourse_pk intervention_pk group_pk individual_pk
3             2               1        -1             Nimmo1978  Nimmo1978
              6               1        -1             Nimmo1978  Nimmo1978
4             4               1        -1             Nimmo1978  Nimmo1978
              6               1        -1             Nimmo1978  Nimmo1978
19            26              5        -1             PKDB00219  Nimmo1978
              30              5        -1             PKDB00219  Nimmo1978
20            28              5        -1             PKDB00219  Nimmo1978
              30              5        -1             PKDB00219  Nimmo1978

                                                      normed  tissue  \
timecourse_pk intervention_pk group_pk individual_pk
3             2               1        -1               True  plasma
              6               1        -1               True  plasma
4             4               1        -1               True  plasma
              6               1        -1               True  plasma
19            26              5        -1               True  plasma
              30              5        -1               True  plasma
20            28              5        -1               True  plasma
              30              5        -1               True  plasma

                                                                                                   time  \
timecourse_pk intervention_pk group_pk individual_pk
3             2               1        -1             [2.50e-01, 5.00e-01, 7.50e-01, 1.00e+00, 1.25e...
              6               1        -1             [2.50e-01, 5.00e-01, 7.50e-01, 1.00e+00, 1.25e...
4             4               1        -1             [2.50e-01, 5.00e-01, 7.50e-01, 1.00e+00, 1.25e...
              6               1        -1             [2.50e-01, 5.00e-01, 7.50e-01, 1.00e+00, 1.25e...
19            26              5        -1             [2.50e-01, 5.00e-01, 7.50e-01, 1.00e+00, 1.25e...
              30              5        -1             [2.50e-01, 5.00e-01, 7.50e-01, 1.00e+00, 1.25e...
20            28              5        -1             [2.50e-01, 5.00e-01, 7.50e-01, 1.00e+00, 1.25e...
              30              5        -1             [2.50e-01, 5.00e-01, 7.50e-01, 1.00e+00, 1.25e...

                                                     time_unit  \
timecourse_pk intervention_pk group_pk individual_pk
3             2               1        -1                   hr
              6               1        -1                   hr
4             4               1        -1                   hr
              6               1        -1                   hr
19            26              5        -1                   hr
              30              5        -1                   hr
20            28              5        -1                   hr
              30              5        -1                   hr

                                                     measurement_type choice  \
timecourse_pk intervention_pk group_pk individual_pk
3             2               1        -1               concentration   None
              6               1        -1               concentration   None
4             4               1        -1               concentration   None
              6               1        -1               concentration   None
19            26              5        -1               concentration   None
              30              5        -1               concentration   None
20            28              5        -1               concentration   None
              30              5        -1               concentration   None

                                                        substance value  \
timecourse_pk intervention_pk group_pk individual_pk
3             2               1        -1             paracetamol  None
              6               1        -1             paracetamol  None
4             4               1        -1             paracetamol  None
              6               1        -1             paracetamol  None
19            26              5        -1             paracetamol  None
              30              5        -1             paracetamol  None
20            28              5        -1             paracetamol  None
              30              5        -1             paracetamol  None

                                                                                                   mean  \
timecourse_pk intervention_pk group_pk individual_pk
3             2               1        -1             [1.28e-02, 2.17e-02, 2.15e-02, 1.97e-02, 1.71e...
              6               1        -1             [1.28e-02, 2.17e-02, 2.15e-02, 1.97e-02, 1.71e...
4             4               1        -1             [0.00e+00, 7.63e-03, 2.04e-02, 1.85e-02, 1.83e...
              6               1        -1             [0.00e+00, 7.63e-03, 2.04e-02, 1.85e-02, 1.83e...
19            26              5        -1             [1.28e-02, 2.17e-02, 2.15e-02, 1.97e-02, 1.71e...
              30              5        -1             [1.28e-02, 2.17e-02, 2.15e-02, 1.97e-02, 1.71e...
20            28              5        -1             [0.00e+00, 7.63e-03, 2.04e-02, 1.85e-02, 1.83e...
              30              5        -1             [0.00e+00, 7.63e-03, 2.04e-02, 1.85e-02, 1.83e...

                                                     median   min   max    sd  \
timecourse_pk intervention_pk group_pk individual_pk
3             2               1        -1              None  None  None  None
              6               1        -1              None  None  None  None
4             4               1        -1              None  None  None  None
              6               1        -1              None  None  None  None
19            26              5        -1              None  None  None  None
              30              5        -1              None  None  None  None
20            28              5        -1              None  None  None  None
              30              5        -1              None  None  None  None

                                                        se    cv          unit
timecourse_pk intervention_pk group_pk individual_pk
3             2               1        -1             None  None  gram / liter
              6               1        -1             None  None  gram / liter
4             4               1        -1             None  None  gram / liter
              6               1        -1             None  None  gram / liter
19            26              5        -1             None  None  gram / liter
              30              5        -1             None  None  gram / liter
20            28              5        -1             None  None  gram / liter
              30              5        -1             None  None  gram / liter

In [10]:
from matplotlib import pyplot as plt
import numpy as np

for index, row in timecourses.iterrows():
    # use the multi-index
    
    # print(row['time'], row['time_unit'])
    x = np.array(row['time']).astype(float)
    y = np.array(row['value']).astype(float)
    print(x, y)
    
    plt.plot(x, y, '-o')

plt.show()

# FIXME: make numerical arrays

[ 0.75  1.5   2.    4.    6.    8.   12.  ] [0.00687  0.0038   0.00401  0.00216  0.00131  0.000851 0.000453]
[ 0.75  1.5   2.    4.    6.    8.   12.  ] [0.00687  0.0038   0.00401  0.00216  0.00131  0.000851 0.000453]
[ 0.25  0.5   0.75  1.    2.    4.    6.    8.   12.  ] [0.00311  0.0105   0.00805  0.00693  0.00272  0.00178  0.000876 0.000409
 0.000199]
[ 0.25  0.5   0.75  1.    2.    4.    6.    8.   12.  ] [0.00311  0.0105   0.00805  0.00693  0.00272  0.00178  0.000876 0.000409
 0.000199]
[ 0.75  1.5   2.    4.    6.    8.   12.  ] [0.00687  0.0038   0.00401  0.00216  0.00131  0.000851 0.000453]