In [1]:
%load_ext autoreload
%autoreload 2
from IPython.display import display
from pkdb_analysis import PKFilter, PKFilterFactory, PKData
import pandas as pd

In [2]:
'''
import numpy as np
import pandas as pd
from init_datatable_mode import init_datatable_mode
init_datatable_mode()  # initialize [DataTables]
# https://medium.com/@marekermk/guide-to-interactive-pandas-dataframe-representation-485acae02946
'''

'\nimport numpy as np\nimport pandas as pd\nfrom init_datatable_mode import init_datatable_mode\ninit_datatable_mode()  # initialize [DataTables]\n# https://medium.com/@marekermk/guide-to-interactive-pandas-dataframe-representation-485acae02946\n'

# Curation and checking of studies
Helpers for simple checking of curated results.

In [23]:
# get data for study
study_name = "Carlo1955"
pkfilter = PKFilterFactory.by_study_name(study_name)
data = PKData.from_db(pkfilter=pkfilter)
print(data)

WARNING:root:*** Querying data ***
WARNING:root:http://0.0.0.0:8000/api/v1/interventions_elastic/?format=json&page_size=2000&normed=true&study_name=Carlo1955
WARNING:root:http://0.0.0.0:8000/api/v1/interventions_elastic/?format=json&page_size=2000&normed=true&study_name=Carlo1955&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000&study_name=Carlo1955
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000&study_name=Carlo1955&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_groups/?format=json&page_size=2000&study_name=Carlo1955
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_groups/?format=json&page_size=2000&study_name=Carlo1955&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&normed=true&study_name=Carlo1955
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&normed=true&study_name=Carlo1955&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/timecourse_intervention/?format=json&page_size=2000&normed=true&study_name=Carlo1955
WARNING:root:http://0.0.0.0:8000/api/v1/timecourse_intervention/?format=json&page_size=2000&normed=true&study_name=Carlo1955&page=1
WARNING:root:Calculating choices

------------------------------
PKData (140232441793504)
------------------------------
groups              3  (   13)
individuals        48  (  264)
interventions       8  (    8)
outputs          1264  ( 1264)
timecourses       208  (  208)
------------------------------

# Visualize the content

In [26]:
print(data.groups_pks)
print(data.individuals_pks)

{5, 6, 7}
{7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54}

In [5]:
groups = data.groups.sort_values(['group_pk', 'characteristica_pk'], ascending=True)
groups = groups.set_index(['group_pk', 'characteristica_pk'], inplace=False)
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    display(groups)

                             study_sid study_name         group_name  \
group_pk characteristica_pk
5        65                  PKDB00220  Carlo1955                all
         66                  PKDB00220  Carlo1955                all
6        73                  PKDB00220  Carlo1955      aspirin group
         74                  PKDB00220  Carlo1955      aspirin group
         75                  PKDB00220  Carlo1955      aspirin group
         76                  PKDB00220  Carlo1955      aspirin group
         77                  PKDB00220  Carlo1955      aspirin group
         78                  PKDB00220  Carlo1955      aspirin group
7        84                  PKDB00220  Carlo1955  paracetamol group
         85                  PKDB00220  Carlo1955  paracetamol group
         86                  PKDB00220  Carlo1955  paracetamol group
         87                  PKDB00220  Carlo1955  paracetamol group
         88                  PKDB00220  Carlo1955  paracetamol group

                             group_count  group_parent_pk  count  \
group_pk characteristica_pk
5        65                           24               -1     24
         66                           24               -1     24
6        73                           12                5     12
         74                           12                5     11
         75                           12                5      1
         76                           12                5     12
         77                           12                5     12
         78                           12                5     12
7        84                           12                5     12
         85                           12                5     12
         86                           12                5     12
         87                           12                5     12
         88                           12                5     12

                            measurement_type        choice substance  value  \
group_pk characteristica_pk
5        65                          species  homo sapiens      None    NaN
         66                   overnight fast             Y      None    NaN
6        73                          species  homo sapiens      None    NaN
         74                              sex             M      None    NaN
         75                              sex             F      None    NaN
         76                              age          None      None    NaN
         77                           weight          None      None    NaN
         78                   overnight fast             Y      None    NaN
7        84                          species  homo sapiens      None    NaN
         85                              sex             M      None    NaN
         86                              age          None      None    NaN
         87                           weight          None      None    NaN
         88                   overnight fast             Y      None    NaN

                             mean  median        min        max  sd  se  cv  \
group_pk characteristica_pk
5        65                   NaN     NaN        NaN        NaN NaN NaN NaN
         66                   NaN     NaN        NaN        NaN NaN NaN NaN
6        73                   NaN     NaN        NaN        NaN NaN NaN NaN
         74                   NaN     NaN        NaN        NaN NaN NaN NaN
         75                   NaN     NaN        NaN        NaN NaN NaN NaN
         76                   NaN     NaN  21.000000  32.000000 NaN NaN NaN
         77                   NaN     NaN  55.791862  86.182550 NaN NaN NaN
         78                   NaN     NaN        NaN        NaN NaN NaN NaN
7        84                   NaN     NaN        NaN        NaN NaN NaN NaN
         85                   NaN     NaN        NaN        NaN NaN NaN NaN
         86                   NaN     NaN  21.000000  32.000000 NaN NaN NaN
         87                   NaN     NaN  63.502932  89.811289 NaN NaN NaN
         88                   NaN     NaN        NaN        NaN NaN NaN NaN

                                 unit
group_pk characteristica_pk
5        65                      None
         66                      None
6        73                      None
         74                      None
         75                      None
         76                        yr
         77                  kilogram
         78                      None
7        84                      None
         85                      None
         86                        yr
         87                  kilogram
         88                      None

In [7]:
if not data.individuals.empty:
    individuals = data.individuals.sort_values(['individual_pk', 'characteristica_pk'], ascending=True)
    individuals = individuals.set_index(['individual_pk', 'characteristica_pk'], inplace=False)
    with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
        display(individuals)

                                  study_sid study_name individual_name  \
individual_pk characteristica_pk
7             47                   13242422  Carlo1955               A
              48                   13242422  Carlo1955               A
              49                   13242422  Carlo1955               A
              50                   13242422  Carlo1955               A
              51                   13242422  Carlo1955               A
              52                   13242422  Carlo1955               A
8             47                   13242422  Carlo1955               B
              48                   13242422  Carlo1955               B
              49                   13242422  Carlo1955               B
              50                   13242422  Carlo1955               B
              51                   13242422  Carlo1955               B
              52                   13242422  Carlo1955               B
9             47                   13242422  Carlo1955               C
              48                   13242422  Carlo1955               C
              49                   13242422  Carlo1955               C
              50                   13242422  Carlo1955               C
              51                   13242422  Carlo1955               C
              52                   13242422  Carlo1955               C
10            47                   13242422  Carlo1955               D
              48                   13242422  Carlo1955               D
              49                   13242422  Carlo1955               D
              50                   13242422  Carlo1955               D
              51                   13242422  Carlo1955               D
              52                   13242422  Carlo1955               D
11            47                   13242422  Carlo1955               E
              48                   13242422  Carlo1955               E
              49                   13242422  Carlo1955               E
              50                   13242422  Carlo1955               E
              51                   13242422  Carlo1955               E
              52                   13242422  Carlo1955               E
12            47                   13242422  Carlo1955               F
              48                   13242422  Carlo1955               F
              49                   13242422  Carlo1955               F
              50                   13242422  Carlo1955               F
              51                   13242422  Carlo1955               F
              52                   13242422  Carlo1955               F
13            47                   13242422  Carlo1955               G
              48                   13242422  Carlo1955               G
              49                   13242422  Carlo1955               G
              50                   13242422  Carlo1955               G
              51                   13242422  Carlo1955               G
              52                   13242422  Carlo1955               G
14            47                   13242422  Carlo1955               H
              48                   13242422  Carlo1955               H
              49                   13242422  Carlo1955               H
              50                   13242422  Carlo1955               H
              51                   13242422  Carlo1955               H
              52                   13242422  Carlo1955               H
15            47                   13242422  Carlo1955               I
              48                   13242422  Carlo1955               I
              49                   13242422  Carlo1955               I
              50                   13242422  Carlo1955               I
              51                   13242422  Carlo1955               I
              52                   13242422  Carlo1955               I
16            47                   13242422  Carlo1955               J
              48                   13242422  Carlo1955               J
              49                   13242422  Carlo1955               J
              50                   13242422  Carlo1955               J
              51                   13242422  Carlo1955               J
              52                   13242422  Carlo1955               J
17            47                   13242422  Carlo1955               K
              48                   13242422  Carlo1955               K
              49                   13242422  Carlo1955               K
              50                   13242422  Carlo1955               K
              51                   13242422  Carlo1955               K
              52                   13242422  Carlo1955               K
18            47                   13242422  Carlo1955               L
              48                   13242422  Carlo1955               L
              49                   13242422  Carlo1955               L
              50                   13242422  Carlo1955               L
              51                   13242422  Carlo1955               L
              52                   13242422  Carlo1955               L
19            58                   13242422  Carlo1955               1
              59                   13242422  Carlo1955               1
              60                   13242422  Carlo1955               1
              61                   13242422  Carlo1955               1
              62                   13242422  Carlo1955               1
20            58                   13242422  Carlo1955               2
              59                   13242422  Carlo1955               2
              60                   13242422  Carlo1955               2
              61                   13242422  Carlo1955               2
              62                   13242422  Carlo1955               2
21            58                   13242422  Carlo1955               3
              59                   13242422  Carlo1955               3
              60                   13242422  Carlo1955               3
              61                   13242422  Carlo1955               3
              62                   13242422  Carlo1955               3
22            58                   13242422  Carlo1955               4
              59                   13242422  Carlo1955               4
              60                   13242422  Carlo1955               4
              61                   13242422  Carlo1955               4
              62                   13242422  Carlo1955               4
23            58                   13242422  Carlo1955               5
              59                   13242422  Carlo1955               5
              60                   13242422  Carlo1955               5
              61                   13242422  Carlo1955               5
              62                   13242422  Carlo1955               5
24            58                   13242422  Carlo1955               6
              59                   13242422  Carlo1955               6
              60                   13242422  Carlo1955               6
              61                   13242422  Carlo1955               6
              62                   13242422  Carlo1955               6
25            58                   13242422  Carlo1955               7
              59                   13242422  Carlo1955               7
              60                   13242422  Carlo1955               7
              61                   13242422  Carlo1955               7
              62                   13242422  Carlo1955               7
26            58                   13242422  Carlo1955               8
              59                   13242422  Carlo1955               8
              60                   13242422  Carlo1955               8
              61                   13242422  Carlo1955               8
              62                   13242422  Carlo1955               8
27            58                   13242422  Carlo1955               9
              59                   13242422  Carlo1955               9
              60                   13242422  Carlo1955               9
              61                   13242422  Carlo1955               9
              62                   13242422  Carlo1955               9
28            58                   13242422  Carlo1955              10
              59                   13242422  Carlo1955              10
              60                   13242422  Carlo1955              10
              61                   13242422  Carlo1955              10
              62                   13242422  Carlo1955              10
29            58                   13242422  Carlo1955              11
              59                   13242422  Carlo1955              11
              60                   13242422  Carlo1955              11
              61                   13242422  Carlo1955              11
              62                   13242422  Carlo1955              11
30            58                   13242422  Carlo1955              12
              59                   13242422  Carlo1955              12
              60                   13242422  Carlo1955              12
              61                   13242422  Carlo1955              12
              62                   13242422  Carlo1955              12
31            73                  PKDB00220  Carlo1955               A
              74                  PKDB00220  Carlo1955               A
              75                  PKDB00220  Carlo1955               A
              76                  PKDB00220  Carlo1955               A
              77                  PKDB00220  Carlo1955               A
              78                  PKDB00220  Carlo1955               A
32            73                  PKDB00220  Carlo1955               B
              74                  PKDB00220  Carlo1955               B
              75                  PKDB00220  Carlo1955               B
              76                  PKDB00220  Carlo1955               B
              77                  PKDB00220  Carlo1955               B
              78                  PKDB00220  Carlo1955               B
33            73                  PKDB00220  Carlo1955               C
              74                  PKDB00220  Carlo1955               C
              75                  PKDB00220  Carlo1955               C
              76                  PKDB00220  Carlo1955               C
              77                  PKDB00220  Carlo1955               C
              78                  PKDB00220  Carlo1955               C
34            73                  PKDB00220  Carlo1955               D
              74                  PKDB00220  Carlo1955               D
              75                  PKDB00220  Carlo1955               D
              76                  PKDB00220  Carlo1955               D
              77                  PKDB00220  Carlo1955               D
              78                  PKDB00220  Carlo1955               D
35            73                  PKDB00220  Carlo1955               E
              74                  PKDB00220  Carlo1955               E
              75                  PKDB00220  Carlo1955               E
              76                  PKDB00220  Carlo1955               E
              77                  PKDB00220  Carlo1955               E
              78                  PKDB00220  Carlo1955               E
36            73                  PKDB00220  Carlo1955               F
              74                  PKDB00220  Carlo1955               F
              75                  PKDB00220  Carlo1955               F
              76                  PKDB00220  Carlo1955               F
              77                  PKDB00220  Carlo1955               F
              78                  PKDB00220  Carlo1955               F
37            73                  PKDB00220  Carlo1955               G
              74                  PKDB00220  Carlo1955               G
              75                  PKDB00220  Carlo1955               G
              76                  PKDB00220  Carlo1955               G
              77                  PKDB00220  Carlo1955               G
              78                  PKDB00220  Carlo1955               G
38            73                  PKDB00220  Carlo1955               H
              74                  PKDB00220  Carlo1955               H
              75                  PKDB00220  Carlo1955               H
              76                  PKDB00220  Carlo1955               H
              77                  PKDB00220  Carlo1955               H
              78                  PKDB00220  Carlo1955               H
39            73                  PKDB00220  Carlo1955               I
              74                  PKDB00220  Carlo1955               I
              75                  PKDB00220  Carlo1955               I
              76                  PKDB00220  Carlo1955               I
              77                  PKDB00220  Carlo1955               I
              78                  PKDB00220  Carlo1955               I
40            73                  PKDB00220  Carlo1955               J
              74                  PKDB00220  Carlo1955               J
              75                  PKDB00220  Carlo1955               J
              76                  PKDB00220  Carlo1955               J
              77                  PKDB00220  Carlo1955               J
              78                  PKDB00220  Carlo1955               J
41            73                  PKDB00220  Carlo1955               K
              74                  PKDB00220  Carlo1955               K
              75                  PKDB00220  Carlo1955               K
              76                  PKDB00220  Carlo1955               K
              77                  PKDB00220  Carlo1955               K
              78                  PKDB00220  Carlo1955               K
42            73                  PKDB00220  Carlo1955               L
              74                  PKDB00220  Carlo1955               L
              75                  PKDB00220  Carlo1955               L
              76                  PKDB00220  Carlo1955               L
              77                  PKDB00220  Carlo1955               L
              78                  PKDB00220  Carlo1955               L
43            84                  PKDB00220  Carlo1955               1
              85                  PKDB00220  Carlo1955               1
              86                  PKDB00220  Carlo1955               1
              87                  PKDB00220  Carlo1955               1
              88                  PKDB00220  Carlo1955               1
44            84                  PKDB00220  Carlo1955               2
              85                  PKDB00220  Carlo1955               2
              86                  PKDB00220  Carlo1955               2
              87                  PKDB00220  Carlo1955               2
              88                  PKDB00220  Carlo1955               2
45            84                  PKDB00220  Carlo1955               3
              85                  PKDB00220  Carlo1955               3
              86                  PKDB00220  Carlo1955               3
              87                  PKDB00220  Carlo1955               3
              88                  PKDB00220  Carlo1955               3
46            84                  PKDB00220  Carlo1955               4
              85                  PKDB00220  Carlo1955               4
              86                  PKDB00220  Carlo1955               4
              87                  PKDB00220  Carlo1955               4
              88                  PKDB00220  Carlo1955               4
47            84                  PKDB00220  Carlo1955               5
              85                  PKDB00220  Carlo1955               5
              86                  PKDB00220  Carlo1955               5
              87                  PKDB00220  Carlo1955               5
              88                  PKDB00220  Carlo1955               5
48            84                  PKDB00220  Carlo1955               6
              85                  PKDB00220  Carlo1955               6
              86                  PKDB00220  Carlo1955               6
              87                  PKDB00220  Carlo1955               6
              88                  PKDB00220  Carlo1955               6
49            84                  PKDB00220  Carlo1955               7
              85                  PKDB00220  Carlo1955               7
              86                  PKDB00220  Carlo1955               7
              87                  PKDB00220  Carlo1955               7
              88                  PKDB00220  Carlo1955               7
50            84                  PKDB00220  Carlo1955               8
              85                  PKDB00220  Carlo1955               8
              86                  PKDB00220  Carlo1955               8
              87                  PKDB00220  Carlo1955               8
              88                  PKDB00220  Carlo1955               8
51            84                  PKDB00220  Carlo1955               9
              85                  PKDB00220  Carlo1955               9
              86                  PKDB00220  Carlo1955               9
              87                  PKDB00220  Carlo1955               9
              88                  PKDB00220  Carlo1955               9
52            84                  PKDB00220  Carlo1955              10
              85                  PKDB00220  Carlo1955              10
              86                  PKDB00220  Carlo1955              10
              87                  PKDB00220  Carlo1955              10
              88                  PKDB00220  Carlo1955              10
53            84                  PKDB00220  Carlo1955              11
              85                  PKDB00220  Carlo1955              11
              86                  PKDB00220  Carlo1955              11
              87                  PKDB00220  Carlo1955              11
              88                  PKDB00220  Carlo1955              11
54            84                  PKDB00220  Carlo1955              12
              85                  PKDB00220  Carlo1955              12
              86                  PKDB00220  Carlo1955              12
              87                  PKDB00220  Carlo1955              12
              88                  PKDB00220  Carlo1955              12

                                  individual_group_pk  count measurement_type  \
individual_pk characteristica_pk
7             47                                    3     12          species
              48                                    3     11              sex
              49                                    3      1              sex
              50                                    3     12              age
              51                                    3     12           weight
              52                                    3     12   overnight fast
8             47                                    3     12          species
              48                                    3     11              sex
              49                                    3      1              sex
              50                                    3     12              age
              51                                    3     12           weight
              52                                    3     12   overnight fast
9             47                                    3     12          species

In [26]:
interventions = data.interventions.sort_values(['pk'], ascending=True)
interventions = interventions.set_index(['pk'], inplace=False)
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    display(interventions)
# FIXME: pk -> intervention_pk

,study_sid,study_name,raw_pk,normed,name,route,form,application,time,time_unit,measurement_type,choice,substance,value,mean,median,min,max,sd,se,cv,unit
pk,,,,,,,,,,,,,,,,,,,,,,
26,PKDB00219,Nimmo1978,25,True,ambulant,None,None,None,NaN,None,body position,ambulant,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
28,PKDB00219,Nimmo1978,27,True,bed rest,None,None,None,NaN,None,body position,supine,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
30,PKDB00219,Nimmo1978,29,True,paracetamol1500mg_po,oral,tablet,single dose,0.0,min,dosing,None,paracetamol,1.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gram

In [27]:
outputs = data.outputs.sort_values(['output_pk', 'intervention_pk', 'group_pk', 'individual_pk'], ascending=True)
outputs = outputs.set_index(['output_pk', 'intervention_pk', 'group_pk', 'individual_pk'], inplace=False)
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    display(outputs)

                                                  study_sid study_name  \
output_pk intervention_pk group_pk individual_pk
3         2               1        -1             Nimmo1978  Nimmo1978
          6               1        -1             Nimmo1978  Nimmo1978
4         2               1        -1             Nimmo1978  Nimmo1978
          6               1        -1             Nimmo1978  Nimmo1978
13        2               1        -1             Nimmo1978  Nimmo1978
          6               1        -1             Nimmo1978  Nimmo1978
14        2               1        -1             Nimmo1978  Nimmo1978
          6               1        -1             Nimmo1978  Nimmo1978
15        2               1        -1             Nimmo1978  Nimmo1978
          6               1        -1             Nimmo1978  Nimmo1978
16        2               1        -1             Nimmo1978  Nimmo1978
          6               1        -1             Nimmo1978  Nimmo1978
17        2               1        -1             Nimmo1978  Nimmo1978
          6               1        -1             Nimmo1978  Nimmo1978
18        2               1        -1             Nimmo1978  Nimmo1978
          6               1        -1             Nimmo1978  Nimmo1978
19        2               1        -1             Nimmo1978  Nimmo1978
          6               1        -1             Nimmo1978  Nimmo1978
20        2               1        -1             Nimmo1978  Nimmo1978
          6               1        -1             Nimmo1978  Nimmo1978
29        4               1        -1             Nimmo1978  Nimmo1978
          6               1        -1             Nimmo1978  Nimmo1978
30        4               1        -1             Nimmo1978  Nimmo1978
          6               1        -1             Nimmo1978  Nimmo1978
31        4               1        -1             Nimmo1978  Nimmo1978
          6               1        -1             Nimmo1978  Nimmo1978
32        4               1        -1             Nimmo1978  Nimmo1978
          6               1        -1             Nimmo1978  Nimmo1978
33        4               1        -1             Nimmo1978  Nimmo1978
          6               1        -1             Nimmo1978  Nimmo1978
34        4               1        -1             Nimmo1978  Nimmo1978
          6               1        -1             Nimmo1978  Nimmo1978
35        4               1        -1             Nimmo1978  Nimmo1978
          6               1        -1             Nimmo1978  Nimmo1978
36        4               1        -1             Nimmo1978  Nimmo1978
          6               1        -1             Nimmo1978  Nimmo1978
669       26              5        -1             PKDB00219  Nimmo1978
          30              5        -1             PKDB00219  Nimmo1978
670       26              5        -1             PKDB00219  Nimmo1978
          30              5        -1             PKDB00219  Nimmo1978
679       26              5        -1             PKDB00219  Nimmo1978
          30              5        -1             PKDB00219  Nimmo1978
680       26              5        -1             PKDB00219  Nimmo1978
          30              5        -1             PKDB00219  Nimmo1978
681       26              5        -1             PKDB00219  Nimmo1978
          30              5        -1             PKDB00219  Nimmo1978
682       26              5        -1             PKDB00219  Nimmo1978
          30              5        -1             PKDB00219  Nimmo1978
683       26              5        -1             PKDB00219  Nimmo1978
          30              5        -1             PKDB00219  Nimmo1978
684       26              5        -1             PKDB00219  Nimmo1978
          30              5        -1             PKDB00219  Nimmo1978
685       26              5        -1             PKDB00219  Nimmo1978
          30              5        -1             PKDB00219  Nimmo1978
686       26              5        -1             PKDB00219  Nimmo1978
          30              5        -1             PKDB00219  Nimmo1978
695       28              5        -1             PKDB00219  Nimmo1978
          30              5        -1             PKDB00219  Nimmo1978
696       28              5        -1             PKDB00219  Nimmo1978
          30              5        -1             PKDB00219  Nimmo1978
697       28              5        -1             PKDB00219  Nimmo1978
          30              5        -1             PKDB00219  Nimmo1978
698       28              5        -1             PKDB00219  Nimmo1978
          30              5        -1             PKDB00219  Nimmo1978
699       28              5        -1             PKDB00219  Nimmo1978
          30              5        -1             PKDB00219  Nimmo1978
700       28              5        -1             PKDB00219  Nimmo1978
          30              5        -1             PKDB00219  Nimmo1978
701       28              5        -1             PKDB00219  Nimmo1978
          30              5        -1             PKDB00219  Nimmo1978
702       28              5        -1             PKDB00219  Nimmo1978
          30              5        -1             PKDB00219  Nimmo1978

                                                  normed  calculated  tissue  \
output_pk intervention_pk group_pk individual_pk
3         2               1        -1               True       False  plasma
          6               1        -1               True       False  plasma
4         2               1        -1               True       False  plasma
          6               1        -1               True       False  plasma
13        2               1        -1               True        True  plasma
          6               1        -1               True        True  plasma
14        2               1        -1               True        True  plasma
          6               1        -1               True        True  plasma
15        2               1        -1               True        True  plasma
          6               1        -1               True        True  plasma
16        2               1        -1               True        True  plasma
          6               1        -1               True        True  plasma
17        2               1        -1               True        True  plasma
          6               1        -1               True        True  plasma
18        2               1        -1               True        True  plasma
          6               1        -1               True        True  plasma
19        2               1        -1               True        True  plasma
          6               1        -1               True        True  plasma
20        2               1        -1               True        True  plasma
          6               1        -1               True        True  plasma
29        4               1        -1               True        True  plasma
          6               1        -1               True        True  plasma
30        4               1        -1               True        True  plasma
          6               1        -1               True        True  plasma
31        4               1        -1               True        True  plasma
          6               1        -1               True        True  plasma
32        4               1        -1               True        True  plasma
          6               1        -1               True        True  plasma
33        4               1        -1               True        True  plasma
          6               1        -1               True        True  plasma
34        4               1        -1               True        True  plasma
          6               1        -1               True        True  plasma
35        4               1        -1               True        True  plasma
          6               1        -1               True        True  plasma
36        4               1        -1               True        True  plasma
          6               1        -1               True        True  plasma
669       26              5        -1               True       False  plasma
          30              5        -1               True       False  plasma
670       26              5        -1               True       False  plasma
          30              5        -1               True       False  plasma
679       26              5        -1               True        True  plasma
          30              5        -1               True        True  plasma
680       26              5        -1               True        True  plasma
          30              5        -1               True        True  plasma
681       26              5        -1               True        True  plasma
          30              5        -1               True        True  plasma
682       26              5        -1               True        True  plasma
          30              5        -1               True        True  plasma
683       26              5        -1               True        True  plasma
          30              5        -1               True        True  plasma
684       26              5        -1               True        True  plasma
          30              5        -1               True        True  plasma
685       26              5        -1               True        True  plasma
          30              5        -1               True        True  plasma
686       26              5        -1               True        True  plasma
          30              5        -1               True        True  plasma
695       28              5        -1               True        True  plasma
          30              5        -1               True        True  plasma
696       28              5        -1               True        True  plasma
          30              5        -1               True        True  plasma
697       28              5        -1               True        True  plasma
          30              5        -1               True        True  plasma
698       28              5        -1               True        True  plasma
          30              5        -1               True        True  plasma
699       28              5        -1               True        True  plasma
          30              5        -1               True        True  plasma
700       28              5        -1               True        True  plasma
          30              5        -1               True        True  plasma
701       28              5        -1               True        True  plasma
          30              5        -1               True        True  plasma
702       28              5        -1               True        True  plasma
          30              5        -1               True        True  plasma

                                                  time time_unit  \
output_pk intervention_pk group_pk individual_pk
3         2               1        -1              4.0        hr
          6               1        -1              4.0        hr
4         2               1        -1              4.0        hr
          6               1        -1              4.0        hr
13        2               1        -1              1.5        hr
          6               1        -1              1.5        hr
14        2               1        -1              NaN      None
          6               1        -1              NaN      None
15        2               1        -1              NaN      None
          6               1        -1              NaN      None
16        2               1        -1              NaN      None
          6               1        -1              NaN      None
17        2               1        -1              NaN      None
          6               1        -1              NaN      None
18        2               1        -1              NaN      None
          6               1        -1              NaN      None
19        2               1        -1              NaN      None
          6               1        -1              NaN      None
20        2               1        -1              NaN      None
          6               1        -1              NaN      None
29        4               1        -1              1.5        hr
          6               1        -1              1.5        hr
30        4               1        -1              NaN      None
          6               1        -1              NaN      None
31        4               1        -1              NaN      None
          6               1        -1              NaN      None
32        4               1        -1              NaN      None
          6               1        -1              NaN      None
33        4               1        -1              NaN      None
          6               1        -1              NaN      None
34        4               1        -1              NaN      None
          6               1        -1              NaN      None
35        4               1        -1              NaN      None
          6               1        -1              NaN      None
36        4               1        -1              NaN      None
          6               1        -1              NaN      None
669       26              5        -1              4.0        hr
          30              5        -1              4.0        hr
670       26              5        -1              4.0        hr
          30              5        -1              4.0        hr
679       26              5        -1              1.5        hr
          30              5        -1              1.5        hr
680       26              5        -1              NaN      None
          30              5        -1              NaN      None
681       26              5        -1              NaN      None
          30              5        -1              NaN      None
682       26              5        -1              NaN      None
          30              5        -1              NaN      None
683       26              5        -1              NaN      None
          30              5        -1              NaN      None
684       26              5        -1              NaN      None
          30              5        -1              NaN      None
685       26              5        -1              NaN      None
          30              5        -1              NaN      None
686       26              5        -1              NaN      None
          30              5        -1              NaN      None
695       28              5        -1              1.5        hr
          30              5        -1              1.5        hr
696       28              5        -1              NaN      None
          30              5        -1              NaN      None
697       28              5        -1              NaN      None
          30              5        -1              NaN      None
698       28              5        -1              NaN      None
          30              5        -1              NaN      None
699       28              5        -1              NaN      None
          30              5        -1              NaN      None
700       28              5        -1              NaN      None
          30              5        -1              NaN      None
701       28              5        -1              NaN      None
          30              5        -1              NaN      None
702       28              5        -1              NaN      None
          30              5        -1              NaN      None

                                                 measurement_type choice  \
output_pk intervention_pk group_pk individual_pk
3         2               1        -1                     auc_end   None
          6               1        -1                     auc_end   None
4         2               1        -1                     auc_end   None
          6               1        -1                     auc_end   None
13        2               1        -1                     auc_end   None
          6               1        -1                     auc_end   None
14        2               1        -1                     auc_inf   None
          6               1        -1                     auc_inf   None
15        2               1        -1                   clearance   None
          6               1        -1                   clearance   None
16        2               1        -1                        cmax   None
          6               1        -1                        cmax   None
17        2               1        -1                         kel   None
          6               1        -1                         kel   None
18        2               1        -1                       thalf   None
          6               1        -1                       thalf   None
19        2               1        -1                          vd   None
          6               1        -1                          vd   None
20        2               1        -1                        tmax   None
          6               1        -1                        tmax   None
29        4               1        -1                     auc_end   None
          6               1        -1                     auc_end   None
30        4               1        -1                     auc_inf   None
          6               1        -1                     auc_inf   None
31        4               1        -1                   clearance   None
          6               1        -1                   clearance   None
32        4               1        -1                        cmax   None
          6               1        -1                        cmax   None
33        4               1        -1                         kel   None
          6               1        -1                         kel   None
34        4               1        -1                       thalf   None
          6               1        -1                       thalf   None
35        4               1        -1                          vd   None
          6               1        -1                          vd   None
36        4               1        -1                        tmax   None
          6               1        -1                        tmax   None
669       26              5        -1                     auc_end   None
          30              5        -1                     auc_end   None
670       26              5        -1                     auc_end   None
          30              5        -1                     auc_end   None
679       26              5        -1                     auc_end   None
          30              5        -1                     auc_end   None
680       26              5        -1                     auc_inf   None
          30              5        -1                     auc_inf   None
681       26              5        -1                   clearance   None
          30              5        -1                   clearance   None
682       26              5        -1                        cmax   None
          30              5        -1                        cmax   None
683       26              5        -1                         kel   None
          30              5        -1                         kel   None
684       26              5        -1                       thalf   None
          30              5        -1                       thalf   None
685       26              5        -1                          vd   None
          30              5        -1                          vd   None
686       26              5        -1                        tmax   None
          30              5        -1                        tmax   None
695       28              5        -1                     auc_end   None

In [18]:
timecourses = data.timecourses.sort_values(['timecourse_pk', 'intervention_pk', 'group_pk', 'individual_pk'], ascending=True)
timecourses = timecourses.set_index(['timecourse_pk', 'intervention_pk', 'group_pk', 'individual_pk'], inplace=False)
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    display(timecourses)

                                                      study_sid study_name  \
timecourse_pk intervention_pk group_pk individual_pk
3             2               1        -1             Nimmo1978  Nimmo1978
              6               1        -1             Nimmo1978  Nimmo1978
4             4               1        -1             Nimmo1978  Nimmo1978
              6               1        -1             Nimmo1978  Nimmo1978
19            26              5        -1             PKDB00219  Nimmo1978
              30              5        -1             PKDB00219  Nimmo1978
20            28              5        -1             PKDB00219  Nimmo1978
              30              5        -1             PKDB00219  Nimmo1978

                                                      normed  tissue  \
timecourse_pk intervention_pk group_pk individual_pk
3             2               1        -1               True  plasma
              6               1        -1               True  plasma
4             4               1        -1               True  plasma
              6               1        -1               True  plasma
19            26              5        -1               True  plasma
              30              5        -1               True  plasma
20            28              5        -1               True  plasma
              30              5        -1               True  plasma

                                                                                                   time  \
timecourse_pk intervention_pk group_pk individual_pk
3             2               1        -1             [2.50e-01, 5.00e-01, 7.50e-01, 1.00e+00, 1.25e...
              6               1        -1             [2.50e-01, 5.00e-01, 7.50e-01, 1.00e+00, 1.25e...
4             4               1        -1             [2.50e-01, 5.00e-01, 7.50e-01, 1.00e+00, 1.25e...
              6               1        -1             [2.50e-01, 5.00e-01, 7.50e-01, 1.00e+00, 1.25e...
19            26              5        -1             [2.50e-01, 5.00e-01, 7.50e-01, 1.00e+00, 1.25e...
              30              5        -1             [2.50e-01, 5.00e-01, 7.50e-01, 1.00e+00, 1.25e...
20            28              5        -1             [2.50e-01, 5.00e-01, 7.50e-01, 1.00e+00, 1.25e...
              30              5        -1             [2.50e-01, 5.00e-01, 7.50e-01, 1.00e+00, 1.25e...

                                                     time_unit  \
timecourse_pk intervention_pk group_pk individual_pk
3             2               1        -1                   hr
              6               1        -1                   hr
4             4               1        -1                   hr
              6               1        -1                   hr
19            26              5        -1                   hr
              30              5        -1                   hr
20            28              5        -1                   hr
              30              5        -1                   hr

                                                     measurement_type choice  \
timecourse_pk intervention_pk group_pk individual_pk
3             2               1        -1               concentration   None
              6               1        -1               concentration   None
4             4               1        -1               concentration   None
              6               1        -1               concentration   None
19            26              5        -1               concentration   None
              30              5        -1               concentration   None
20            28              5        -1               concentration   None
              30              5        -1               concentration   None

                                                        substance value  \
timecourse_pk intervention_pk group_pk individual_pk
3             2               1        -1             paracetamol  None
              6               1        -1             paracetamol  None
4             4               1        -1             paracetamol  None
              6               1        -1             paracetamol  None
19            26              5        -1             paracetamol  None
              30              5        -1             paracetamol  None
20            28              5        -1             paracetamol  None
              30              5        -1             paracetamol  None

                                                                                                   mean  \
timecourse_pk intervention_pk group_pk individual_pk
3             2               1        -1             [1.28e-02, 2.17e-02, 2.15e-02, 1.97e-02, 1.71e...
              6               1        -1             [1.28e-02, 2.17e-02, 2.15e-02, 1.97e-02, 1.71e...
4             4               1        -1             [0.00e+00, 7.63e-03, 2.04e-02, 1.85e-02, 1.83e...
              6               1        -1             [0.00e+00, 7.63e-03, 2.04e-02, 1.85e-02, 1.83e...
19            26              5        -1             [1.28e-02, 2.17e-02, 2.15e-02, 1.97e-02, 1.71e...
              30              5        -1             [1.28e-02, 2.17e-02, 2.15e-02, 1.97e-02, 1.71e...
20            28              5        -1             [0.00e+00, 7.63e-03, 2.04e-02, 1.85e-02, 1.83e...
              30              5        -1             [0.00e+00, 7.63e-03, 2.04e-02, 1.85e-02, 1.83e...

                                                     median   min   max    sd  \
timecourse_pk intervention_pk group_pk individual_pk
3             2               1        -1              None  None  None  None
              6               1        -1              None  None  None  None
4             4               1        -1              None  None  None  None
              6               1        -1              None  None  None  None
19            26              5        -1              None  None  None  None
              30              5        -1              None  None  None  None
20            28              5        -1              None  None  None  None
              30              5        -1              None  None  None  None

                                                        se    cv          unit
timecourse_pk intervention_pk group_pk individual_pk
3             2               1        -1             None  None  gram / liter
              6               1        -1             None  None  gram / liter
4             4               1        -1             None  None  gram / liter
              6               1        -1             None  None  gram / liter
19            26              5        -1             None  None  gram / liter
              30              5        -1             None  None  gram / liter
20            28              5        -1             None  None  gram / liter
              30              5        -1             None  None  gram / liter

In [10]:
from matplotlib import pyplot as plt
import numpy as np

for index, row in timecourses.iterrows():
    # use the multi-index
    
    # print(row['time'], row['time_unit'])
    x = np.array(row['time']).astype(float)
    y = np.array(row['value']).astype(float)
    print(x, y)
    
    plt.plot(x, y, '-o')

plt.show()

# FIXME: make numerical arrays

[ 0.75  1.5   2.    4.    6.    8.   12.  ] [0.00687  0.0038   0.00401  0.00216  0.00131  0.000851 0.000453]
[ 0.75  1.5   2.    4.    6.    8.   12.  ] [0.00687  0.0038   0.00401  0.00216  0.00131  0.000851 0.000453]
[ 0.25  0.5   0.75  1.    2.    4.    6.    8.   12.  ] [0.00311  0.0105   0.00805  0.00693  0.00272  0.00178  0.000876 0.000409
 0.000199]
[ 0.25  0.5   0.75  1.    2.    4.    6.    8.   12.  ] [0.00311  0.0105   0.00805  0.00693  0.00272  0.00178  0.000876 0.000409
 0.000199]
[ 0.75  1.5   2.    4.    6.    8.   12.  ] [0.00687  0.0038   0.00401  0.00216  0.00131  0.000851 0.000453]