In [1]:
%load_ext autoreload
%autoreload 2
from IPython.display import display
from pkdb_analysis import PKFilter, PKFilterFactory, PKData
import pandas as pd

# Curation and checking of studies
Helpers for simple checking of curated results.

In [2]:
# get data for study
study_name = "Test1"
pkfilter = PKFilterFactory.by_study_name(study_name)
data = PKData.from_db(pkfilter=pkfilter)
print(data)

WARNING:root:*** Querying data ***
WARNING:root:http://0.0.0.0:8000/api/v1/interventions_elastic/?format=json&page_size=2000&normed=true&study_name=Test1
WARNING:root:http://0.0.0.0:8000/api/v1/interventions_elastic/?format=json&page_size=2000&normed=true&study_name=Test1&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000&study_name=Test1
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000&study_name=Test1&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_groups/?format=json&page_size=2000&study_name=Test1
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_groups/?format=json&page_size=2000&study_name=Test1&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&normed=true&study_name=Test1
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&normed=true&study_name=Test1&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/timecourse_intervention/?format=json&page_size=2000&normed=true&study_name=Test1
WARNING:root:http://0.0.0.0:8000/api/v1/timecourse_intervention/?format=json&page_size=2000&normed=true&study_name=Test1&page=1
WARNING:root:Calculating choices

------------------------------
PKData (139728139083672)
------------------------------
studies             1
groups              1  (    6)
individuals         6  (   42)
interventions       3  (    3)
outputs           105  (  105)
timecourses         2  (    2)
------------------------------

## Explore data content

In [3]:
print(data.groups_pks)
print(data.individuals_pks)

{1}
{1, 2, 3, 4, 5, 6}

In [4]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(data.groups_mi)
    
display(data.individuals_mi)
display(data.interventions_mi)
display(data.outputs_mi)
display(data.timecourses_mi)

                             study_sid study_name group_name  group_count  \
group_pk characteristica_pk
1        7                   PKDB99999      Test1        all            6
         8                   PKDB99999      Test1        all            6
         9                   PKDB99999      Test1        all            6
         10                  PKDB99999      Test1        all            6
         11                  PKDB99999      Test1        all            6
         12                  PKDB99999      Test1        all            6

                             group_parent_pk  count measurement_type  \
group_pk characteristica_pk
1        7                                -1      6          species
         8                                -1      6          healthy
         9                                -1      1          smoking
         10                               -1      5          smoking
         11                               -1      6              age
         12                               -1      6   overnight fast

                                   choice substance  value  mean  median  \
group_pk characteristica_pk
1        7                   homo sapiens      None    NaN   NaN     NaN
         8                              Y      None    NaN   NaN     NaN
         9                              Y      None    NaN   NaN     NaN
         10                             N      None    NaN   NaN     NaN
         11                          None      None    NaN   NaN     NaN
         12                             Y      None    NaN   NaN     NaN

                              min   max  sd  se  cv  unit
group_pk characteristica_pk
1        7                    NaN   NaN NaN NaN NaN  None
         8                    NaN   NaN NaN NaN NaN  None
         9                    NaN   NaN NaN NaN NaN  None
         10                   NaN   NaN NaN NaN NaN  None
         11                  25.0  37.0 NaN NaN NaN    yr
         12                   NaN   NaN NaN NaN NaN  None

                                  study_sid study_name individual_name  \
individual_pk characteristica_pk
1             7                   PKDB99999      Test1              WS
              8                   PKDB99999      Test1              WS
              9                   PKDB99999      Test1              WS
              10                  PKDB99999      Test1              WS
              12                  PKDB99999      Test1              WS
              15                  PKDB99999      Test1              WS
              16                  PKDB99999      Test1              WS
2             7                   PKDB99999      Test1              HA
              8                   PKDB99999      Test1              HA
              9                   PKDB99999      Test1              HA
              10                  PKDB99999      Test1              HA
              12                  PKDB99999      Test1              HA
              19                  PKDB99999      Test1              HA
              20                  PKDB99999      Test1              HA
3             7                   PKDB99999      Test1              TF
              8                   PKDB99999      Test1              TF
              9                   PKDB99999      Test1              TF
              10                  PKDB99999      Test1              TF
              12                  PKDB99999      Test1              TF
              23                  PKDB99999      Test1              TF
              24                  PKDB99999      Test1              TF
4             7                   PKDB99999      Test1              UK
              8                   PKDB99999      Test1              UK
              9                   PKDB99999      Test1              UK
              10                  PKDB99999      Test1              UK
              12                  PKDB99999      Test1              UK
              27                  PKDB99999      Test1              UK
              28                  PKDB99999      Test1              UK
5             7                   PKDB99999      Test1              FS
              8                   PKDB99999      Test1              FS
              9                   PKDB99999      Test1              FS
              10                  PKDB99999      Test1              FS
              12                  PKDB99999      Test1              FS
              31                  PKDB99999      Test1              FS
              32                  PKDB99999      Test1              FS
6             7                   PKDB99999      Test1              GZ
              8                   PKDB99999      Test1              GZ
              9                   PKDB99999      Test1              GZ
              10                  PKDB99999      Test1              GZ
              12                  PKDB99999      Test1              GZ
              35                  PKDB99999      Test1              GZ
              36                  PKDB99999      Test1              GZ

                                  individual_group_pk  count measurement_type  \
individual_pk characteristica_pk
1             7                                     1      6          species
              8                                     1      6          healthy
              9                                     1      1          smoking
              10                                    1      5          smoking
              12                                    1      6   overnight fast
              15                                    1      1           weight
              16                                    1      1              age
2             7                                     1      6          species
              8                                     1      6          healthy
              9                                     1      1          smoking
              10                                    1      5          smoking
              12                                    1      6   overnight fast
              19                                    1      1           weight
              20                                    1      1              age
3             7                                     1      6          species
              8                                     1      6          healthy
              9                                     1      1          smoking
              10                                    1      5          smoking
              12                                    1      6   overnight fast
              23                                    1      1           weight
              24                                    1      1              age
4             7                                     1      6          species
              8                                     1      6          healthy
              9                                     1      1          smoking
              10                                    1      5          smoking
              12                                    1      6   overnight fast
              27                                    1      1           weight
              28                                    1      1              age
5             7                                     1      6          species
              8                                     1      6          healthy
              9                                     1      1          smoking
              10                                    1      5          smoking
              12                                    1      6   overnight fast
              31                                    1      1           weight
              32                                    1      1              age
6             7                                     1      6          species
              8                                     1      6          healthy
              9                                     1      1          smoking
              10                                    1      5          smoking
              12                                    1      6   overnight fast
              35                                    1      1           weight
              36                                    1      1              age

                                        choice substance  value  mean  median  \
individual_pk characteristica_pk
1             7                   homo sapiens      None    NaN   NaN     NaN
              8                              Y      None    NaN   NaN     NaN
              9                              Y      None    NaN   NaN     NaN
              10                             N      None    NaN   NaN     NaN
              12                             Y      None    NaN   NaN     NaN
              15                          None      None   74.0   NaN     NaN
              16                          None      None   25.0   NaN     NaN
2             7                   homo sapiens      None    NaN   NaN     NaN
              8                              Y      None    NaN   NaN     NaN
              9                              Y      None    NaN   NaN     NaN
              10                             N      None    NaN   NaN     NaN
              12                             Y      None    NaN   NaN     NaN
              19                          None      None   59.0   NaN     NaN
              20                          None      None   32.0   NaN     NaN
3             7                   homo sapiens      None    NaN   NaN     NaN
              8                              Y      None    NaN   NaN     NaN
              9                              Y      None    NaN   NaN     NaN
              10                             N      None    NaN   NaN     NaN
              12                             Y      None    NaN   NaN     NaN
              23                          None      None   63.0   NaN     NaN
              24                          None      None   27.0   NaN     NaN
4             7                   homo sapiens      None    NaN   NaN     NaN
              8                              Y      None    NaN   NaN     NaN
              9                              Y      None    NaN   NaN     NaN
              10                             N      None    NaN   NaN     NaN
              12                             Y      None    NaN   NaN     NaN
              27                          None      None   67.0   NaN     NaN
              28                          None      None   37.0   NaN     NaN
5             7                   homo sapiens      None    NaN   NaN     NaN
              8                              Y      None    NaN   NaN     NaN
              9                              Y      None    NaN   NaN     NaN
              10                             N      None    NaN   NaN     NaN
              12                             Y      None    NaN   NaN     NaN
              31                          None      None   78.0   NaN     NaN
              32                          None      None   29.0   NaN     NaN
6             7                   homo sapiens      None    NaN   NaN     NaN
              8                              Y      None    NaN   NaN     NaN
              9                              Y      None    NaN   NaN     NaN
              10                             N      None    NaN   NaN     NaN
              12                             Y      None    NaN   NaN     NaN
              35                          None      None   79.0   NaN     NaN
              36                          None      None   29.0   NaN     NaN

                                  min  max  sd  se  cv      unit
individual_pk characteristica_pk
1             7                   NaN  NaN NaN NaN NaN      None
              8                   NaN  NaN NaN NaN NaN      None
              9                   NaN  NaN NaN NaN NaN      None
              10                  NaN  NaN NaN NaN NaN      None
              12                  NaN  NaN NaN NaN NaN      None
              15                  NaN  NaN NaN NaN NaN  kilogram
              16                  NaN  NaN NaN NaN NaN        yr
2             7                   NaN  NaN NaN NaN NaN      None
              8                   NaN  NaN NaN NaN NaN      None
              9                   NaN  NaN NaN NaN NaN      None
              10                  NaN  NaN NaN NaN NaN      None
              12                  NaN  NaN NaN NaN NaN      None
              19                  NaN  NaN NaN NaN NaN  kilogram
              20                  NaN  NaN NaN NaN NaN        yr
3             7                   NaN  NaN NaN NaN NaN      None
              8                   NaN  NaN NaN NaN NaN      None
              9                   NaN  NaN NaN NaN NaN      None
              10                  NaN  NaN NaN NaN NaN      None
              12                  NaN  NaN NaN NaN NaN      None
              23                  NaN  NaN NaN NaN NaN  kilogram
              24                  NaN  NaN NaN NaN NaN        yr
4             7                   NaN  NaN NaN NaN NaN      None
              8                   NaN  NaN NaN NaN NaN      None
              9                   NaN  NaN NaN NaN NaN      None
              10                  NaN  NaN NaN NaN NaN      None
              12                  NaN  NaN NaN NaN NaN      None
              27                  NaN  NaN NaN NaN NaN  kilogram
              28                  NaN  NaN NaN NaN NaN        yr
5             7                   NaN  NaN NaN NaN NaN      None
              8                   NaN  NaN NaN NaN NaN      None
              9                   NaN  NaN NaN NaN NaN      None
              10                  NaN  NaN NaN NaN NaN      None
              12                  NaN  NaN NaN NaN NaN      None
              31                  NaN  NaN NaN NaN NaN  kilogram
              32                  NaN  NaN NaN NaN NaN        yr
6             7                   NaN  NaN NaN NaN NaN      None
              8                   NaN  NaN NaN NaN NaN      None
              9                   NaN  NaN NaN NaN NaN      None
              10                  NaN  NaN NaN NaN NaN      None
              12                  NaN  NaN NaN NaN NaN      None
              35                  NaN  NaN NaN NaN NaN  kilogram
              36                  NaN  NaN NaN NaN NaN        yr

,study_sid,study_name,raw_pk,normed,name,route,form,application,time,time_unit,...,substance,value,mean,median,min,max,sd,se,cv,unit
intervention_pk,,,,,,,,,,,,,,,,,,,,,
3,PKDB99999,Test1,1,True,po75,oral,tablet,single dose,0.0,hr,...,midazolam,0.007500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gram
4,PKDB99999,Test1,2,True,po15,oral,tablet,single dose,0.0,hr,...,midazolam,0.015000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gram
6,PKDB99999,Test1,5,True,iv,iv,solution,single dose,0.0,hr,...,midazolam,0.000075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gram / kilogram

,,,,study_sid,study_name,normed,calculated,tissue,time,time_unit,measurement_type,choice,substance,value,mean,median,min,max,sd,se,cv,unit
output_pk,intervention_pk,group_pk,individual_pk,,,,,,,,,,,,,,,,,,,
79,6,-1,1,PKDB99999,Test1,True,False,plasma,NaN,None,thalf,None,midazolam,2.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,hour
80,6,-1,1,PKDB99999,Test1,True,False,plasma,NaN,None,vd,None,midazolam,0.71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,liter / kilogram
81,6,-1,1,PKDB99999,Test1,True,False,plasma,NaN,None,clearance,None,midazolam,17.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,liter / hour
82,6,-1,1,PKDB99999,Test1,True,False,plasma,NaN,None,clearance_unbound,None,midazolam,350.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,liter / hour
83,6,-1,1,PKDB99999,Test1,True,False,plasma,NaN,None,plasma_binding,None,midazolam,0.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,dimensionless
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206,4,1,-1,PKDB99999,Test1,True,True,plasma,NaN,None,cmax,None,midazolam,NaN,0.000134,NaN,NaN,NaN,NaN,NaN,NaN,gram / liter
207,4,1,-1,PKDB99999,Test1,True,True,plasma,NaN,None,kel,None,midazolam,NaN,0.006300,NaN,NaN,NaN,NaN,NaN,NaN,1 / minute
208,4,1,-1,PKDB99999,Test1,True,True,plasma,NaN,None,thalf,None,midazolam,NaN,1.830000,NaN,NaN,NaN,NaN,NaN,NaN,hour
209,4,1,-1,PKDB99999,Test1,True,True,plasma,NaN,None,vd,None,midazolam,NaN,100.000000,NaN,NaN,NaN,NaN,NaN,NaN,liter
210,4,1,-1,PKDB99999,Test1,True,True,plasma,NaN,None,tmax,None,midazolam,NaN,0.750000,NaN,NaN,NaN,NaN,NaN,NaN,hour

,,,,study_sid,study_name,normed,tissue,time,time_unit,measurement_type,choice,substance,value,mean,median,min,max,sd,se,cv,unit
timecourse_pk,intervention_pk,group_pk,individual_pk,,,,,,,,,,,,,,,,,,
3,6,1,-1,PKDB99999,Test1,True,plasma,"[0.0, 0.17, 0.33, 0.5, 0.75, 1.0, 1.5, 2.0, 3....",hr,concentration,None,midazolam,None,"[0.000185, 0.000144, 0.000121, 0.000106, 8.38e...",None,None,None,"[2.33e-05, 1.82e-05, 2.06e-05, 2.68e-05, 1.03e...","[9.52e-06, 7.42e-06, 8.4e-06, 1.09e-05, 4.19e-...","[0.126, 0.126, 0.171, 0.253, 0.123, 0.259, 0.1...",gram / liter
4,4,1,-1,PKDB99999,Test1,True,plasma,"[0.17, 0.33, 0.75, 1.0, 1.5, 2.0, 2.5, 3.0, 4....",hr,concentration,None,midazolam,None,"[1.01e-05, 0.000132, 0.000134, 9.67e-05, 9.66e...",None,None,None,"[4.76e-06, 7.49e-05, 3.01e-05, 4.23e-05, 5.29e...","[1.94e-06, 3.06e-05, 1.23e-05, 1.73e-05, 2.16e...","[0.471, 0.566, 0.224, 0.437, 0.548, 0.37, 0.20...",gram / liter