In [34]:
%load_ext autoreload
%autoreload 2
from IPython.display import display
from pkdb_analysis import PKFilter, PKData
import copy
import pandas as pd
from numba import njit

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [35]:
data = PKData._from_db()

WARNING:root:*** Querying data ***
WARNING:root:http://0.0.0.0:8000/api/v1/interventions_elastic/?format=json&page_size=2000&normed=true
WARNING:root:http://0.0.0.0:8000/api/v1/interventions_elastic/?format=json&page_size=2000&normed=true&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000&page=2
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000&page=3
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000&page=4
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000&page=5
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000&page=6
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000&page=7
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000&page=8
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000&page=9
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000&page=10
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000&page=11
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000&page=12
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000&page=13
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000&page=14
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_groups/?format=json&page_size=2000
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_groups/?format=json&page_size=2000&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_groups/?format=json&page_size=2000&page=2
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_groups/?format=json&page_size=2000&page=3
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&normed=true
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&normed=true&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&normed=true&page=2
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&normed=true&page=3
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&normed=true&page=4
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&normed=true&page=5
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&normed=true&page=6
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&normed=true&page=7
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&normed=true&page=8
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&normed=true&page=9
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&normed=true&page=10
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&normed=true&page=11
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&normed=true&page=12
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&normed=true&page=13
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&normed=true&page=14
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&normed=true&page=15
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&normed=true&page=16
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&normed=true&page=17
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&normed=true&page=18
WARNING:root:http://0.0.0.0:8000/api/v1/timecourse_intervention/?format=json&page_size=2000&normed=true
WARNING:root:http://0.0.0.0:8000/api/v1/timecourse_intervention/?format=json&page_size=2000&normed=true&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/timecourse_intervention/?format=json&page_size=2000&normed=true&page=2
WARNING:root:Calculating choices

In [41]:
data.outputs.groupby("output_pk").get_group(15267)

,study_sid,study_name,output_pk,intervention_pk,group_pk,individual_pk,normed,calculated,tissue,time,...,substance,value,mean,median,min,max,sd,se,cv,unit
0,8549036,Backman1996,15267,770,-1,871,True,False,plasma,NaN,...,midazolam,0.000064,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gram / liter

AttributeError: 'PKData' object has no attribute 'outputs_mi'

In [27]:
# helper functions
def _is(d: pd.DataFrame, key: str, value: str) -> bool:
    """ check if for column 'key' in DataFrame 'd' any value equals 'value'.  
    """
    
    return  not d[(d[key]==value)].empty

def _is_not(d: pd.DataFrame, key: str, value: str) -> bool:
    """ check if for column 'key' in DataFrame 'd' no value equals 'value'.   
    """
    return  d[(d[key]==value)].empty

def _any(d: pd.DataFrame, *args:bool) -> pd.DataFrame: 
    """ return Dataframe 'd' if any of arguments 'args' are True.
    """
    if any(args):
            return d 
    else:
        empty_df = pd.DataFrame(columns = d.columns)
        return empty_df 
def _all(d: pd.DataFrame, *args:bool) -> pd.DataFrame:
    """ return Dataframe 'd' if all of arguments 'args' are True.
    """
    if all(args):
            return d 
    else:
        empty_df = pd.DataFrame(columns = d.columns)
        return empty_df

# Example queries

## 1. Query study

In [28]:
def is_Thummel1996(d):
    Thummel1996 = _is(d,"study_name","Thummel1996")
    return _all(d, *[Thummel1996])


def is_Thummel1996_2(d):
    d

In [29]:
test_data = copy.deepcopy(data)

In [33]:
%%timeit 
test_data = copy.deepcopy(data)

14.1 ms Â± 222 Âµs per loop (mean Â± std. dev. of 7 runs, 100 loops each)

In [31]:
%%timeit 
test_data = copy.deepcopy(data)
test_data.groups = test_data.groups.groupby("group_pk").apply(is_Thummel1996)

2.45 s Â± 39.3 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)

In [32]:
%%timeit 
test_data = copy.deepcopy(data)
test_data.groups = test_data.groups.groupby("group_pk", as_index=False).apply(is_Thummel1996)

2.47 s Â± 70.9 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)

In [ ]:
%timeit test_data.groups = test_data.groups.groupby("group_pk").apply(is_Thummel1996)

In [18]:
test_data = copy.deepcopy(data)
test_data._len

70536

In [19]:
# faster would be to take only filter only on e.g. internventions and then concise PKData instance.
test_data.groups = test_data.groups.groupby("group_pk").apply(is_Thummel1996)
test_data.individuals = test_data.individuals.groupby("individual_pk").apply(is_Thummel1996)
test_data.interventions = test_data.interventions.groupby("intervention_pk").apply(is_Thummel1996)
test_data.outputs = test_data.outputs.groupby("output_pk").apply(is_Thummel1996)
test_data.timecourses = test_data.timecourses.groupby("timecourse_pk").apply(is_Thummel1996)

TypingError: Failed in nopython mode pipeline (step: nopython frontend)
non-precise type pyobject
[1] During: typing of argument at <ipython-input-17-eb3f7e9fd92b> (3)

File "<ipython-input-17-eb3f7e9fd92b>", line 3:
def is_Thummel1996(d):
    Thummel1996 = _is(d,"study_name","Thummel1996")
    ^

This error may have been caused by the following argument(s):
- argument 0: cannot determine Numba type of <class 'pandas.core.frame.DataFrame'>

This is not usually a problem with Numba itself but instead often caused by
the use of unsupported features or an issue in resolving types.

To see Python/NumPy features supported by the latest release of Numba visit:
http://numba.pydata.org/numba-doc/latest/reference/pysupported.html
and
http://numba.pydata.org/numba-doc/latest/reference/numpysupported.html

For more information about typing errors and how to debug them visit:
http://numba.pydata.org/numba-doc/latest/user/troubleshoot.html#my-code-doesn-t-compile

If you think your code should work with Numba, please report the error message
and traceback, along with a minimal reproducer at:
https://github.com/numba/numba/issues/new

This error may have been caused by the following argument(s):
- argument 0: cannot determine Numba type of <class 'pandas.core.frame.DataFrame'>

This is not usually a problem with Numba itself but instead often caused by
the use of unsupported features or an issue in resolving types.

To see Python/NumPy features supported by the latest release of Numba visit:
http://numba.pydata.org/numba-doc/latest/reference/pysupported.html
and
http://numba.pydata.org/numba-doc/latest/reference/numpysupported.html

For more information about typing errors and how to debug them visit:
http://numba.pydata.org/numba-doc/latest/user/troubleshoot.html#my-code-doesn-t-compile

If you think your code should work with Numba, please report the error message
and traceback, along with a minimal reproducer at:
https://github.com/numba/numba/issues/new

This error may have been caused by the following argument(s):
- argument 0: cannot determine Numba type of <class 'pandas.core.frame.DataFrame'>

This is not usually a problem with Numba itself but instead often caused by
the use of unsupported features or an issue in resolving types.

To see Python/NumPy features supported by the latest release of Numba visit:
http://numba.pydata.org/numba-doc/latest/reference/pysupported.html
and
http://numba.pydata.org/numba-doc/latest/reference/numpysupported.html

For more information about typing errors and how to debug them visit:
http://numba.pydata.org/numba-doc/latest/user/troubleshoot.html#my-code-doesn-t-compile

If you think your code should work with Numba, please report the error message
and traceback, along with a minimal reproducer at:
https://github.com/numba/numba/issues/new

This error may have been caused by the following argument(s):
- argument 0: cannot determine Numba type of <class 'pandas.core.frame.DataFrame'>

This is not usually a problem with Numba itself but instead often caused by
the use of unsupported features or an issue in resolving types.

To see Python/NumPy features supported by the latest release of Numba visit:
http://numba.pydata.org/numba-doc/latest/reference/pysupported.html
and
http://numba.pydata.org/numba-doc/latest/reference/numpysupported.html

For more information about typing errors and how to debug them visit:
http://numba.pydata.org/numba-doc/latest/user/troubleshoot.html#my-code-doesn-t-compile

If you think your code should work with Numba, please report the error message
and traceback, along with a minimal reproducer at:
https://github.com/numba/numba/issues/new

In [13]:
test_data.individuals

                    study_sid   study_name individual_pk individual_name  \
individual_pk
1115          1210  PKDB00202  Thummel1996          1115             p01
              1211  PKDB00202  Thummel1996          1115             p01
              1212  PKDB00202  Thummel1996          1115             p01
              1213  PKDB00202  Thummel1996          1115             p01
              1214  PKDB00202  Thummel1996          1115             p01
...                       ...          ...           ...             ...
1134          1348  PKDB00202  Thummel1996          1134             p20
              1349  PKDB00202  Thummel1996          1134             p20
              1350  PKDB00202  Thummel1996          1134             p20
              1351  PKDB00202  Thummel1996          1134             p20
              1352  PKDB00202  Thummel1996          1134             p20

                   individual_group_pk characteristica_pk count  \
individual_pk
1115          1210                 312               4606    20
              1211                 312               4605    20
              1212                 312               4604    20
              1213                 312               4603    20
              1214                 312               4602     1
...                                ...                ...   ...
1134          1348                 311               4600    20
              1349                 311               4599    20
              1350                 311               4658     1
              1351                 311               4611    10
              1352                 311               4610    10

                      measurement_type        choice substance  value  mean  \
individual_pk
1115          1210  abstinence alcohol          None      None    NaN   NaN
              1211          medication             N      None    NaN   NaN
              1212      overnight fast             Y      None    NaN   NaN
              1213          abstinence          None  caffeine    NaN   NaN
              1214             smoking             Y      None    NaN   NaN
...                                ...           ...       ...    ...   ...
1134          1348             healthy             Y      None    NaN   NaN
              1349             species  homo sapiens      None    NaN   NaN
              1350              weight          None      None   80.0   NaN
              1351                 age          None      None    NaN  32.0
              1352                 sex             M      None    NaN   NaN

                    median   min   max   sd  se  cv      unit
individual_pk
1115          1210     NaN   2.0   NaN  NaN NaN NaN       day
              1211     NaN   NaN   NaN  NaN NaN NaN      None
              1212     NaN   NaN   NaN  NaN NaN NaN      None
              1213     NaN   2.0   NaN  NaN NaN NaN       day
              1214     NaN   NaN   NaN  NaN NaN NaN      None
...                    ...   ...   ...  ...  ..  ..       ...
1134          1348     NaN   NaN   NaN  NaN NaN NaN      None
              1349     NaN   NaN   NaN  NaN NaN NaN      None
              1350     NaN   NaN   NaN  NaN NaN NaN  kilogram
              1351     NaN  26.0  42.0  5.0 NaN NaN        yr
              1352     NaN   NaN   NaN  NaN NaN NaN      None

[220 rows x 19 columns]

In [ ]:
test_data.outputs

## Query groups and individuals
### 2.1 Get data for groups with characteristica/keywords X
healthy=True, smoking=N, disease=None,
individual queries and combinations.

In [ ]:
@njit
def is_healthy_and_smoker(d): 
    
    # health related
    healthy = not d[(d["measurement_type"]=="healthy") & (d["choice"]=="Y")].empty
    not_disease = _is_not(d,"measurement_type", "disease")
    
    # smoking related
    smoker_n = not d[(d["measurement_type"]=="smoking") & (d["choice"]=="N")].empty
    not_smoker_y =  d[(d["measurement_type"]=="smoking") & (d["choice"]=="Y")].empty
    
    return _all(d, *[not_disease,healthy, smoker_n, not_smoker_y])

In [ ]:
test_data = copy.deepcopy(data)
test_data.groups = test_data.groups.groupby("group_pk").apply(is_healthy_and_smoker)
test_data.individuals = test_data.individuals.groupby("individual_pk").apply(is_healthy_and_smoker)
test_data._concise()

In [ ]:
test_data._len

## 3 Query interventions
### 3.1 Get outputs/timecourses for intervention with substance
intervention with measurement_type "dosing" and substance "caffeine"

In [ ]:
def dosing_and_midazolam(d):
    dosing_and_midazolam = not d[(d["measurement_type"]=="dosing") & (d["substance"]=="midazolam")].empty
    #dosing = not d[(d["measurement_type"]=="dosing")].empty
    #caffeine = not d[(d["substance"]=="midazolam")].empty
    
    return _all(d, *[dosing_and_midazolam])

### 3.2 Get outputs/timecourses where multiple interventions were given

In [ ]:
test_data = copy.deepcopy(data)
test_data.interventions = test_data.interventions.groupby("pk").apply(dosing_and_midazolam)
test_data._concise()

In [ ]:
test_data._len

In [ ]:
test_data.interventions.head()

## 4 Query outputs/timecourses
### 4.1 query by measurement_type
query all auc_inf

In [ ]:

def is_auc_inf(d):
    auc_inf = _is(d,"measurement_type","auc_inf" )
    return _all(d, *[auc_inf])

## 5 Other Query others
### 5.1 Complex
get clearance of codeine for all subjects, that have been phenotyped.

In [ ]:
def is_phenotyping(d):
    metabolic_phenotype = _is(d,"measurement_type","metabolic phenotype")
    metabolic_ratio = _is(d,"measurement_type","metabolic ratio")
    return _any(d, *[metabolic_phenotype,metabolic_ratio])

In [ ]:
test_data.outputs.head()

In [ ]:
test_data = copy.deepcopy(data)
outputs = test_data.outputs.groupby("output_pk").apply(is_phenotyping)

In [ ]:
# all substances related to metabolic phenotype and metabolic ratio. I am only interessted in cyp2d6 phenotyping -> substance = 'spar/(2hspar+5hspar)', 'deb/4hdeb', 'dtf/dmt'
outputs.substance.unique()

In [ ]:
def is_cyp2d6_phenotyping(d):
    cyp2d6_phenotype_substances = ['spar/(2hspar+5hspar)', 'deb/4hdeb', 'dtf/dmt']
    cyp2d6_phenotype_measurement_types = ["metabolic phenotype","metabolic ratio"]
    cyp2d6_phenotype = not d[(d["substance"].isin(cyp2d6_phenotype_substances)) & (d["measurement_type"].isin(cyp2d6_phenotype_measurement_types))].empty
    return _any(d, *[cyp2d6_phenotype])
                                                               
def codeine_clearance(d):
    codeine_clearance = not d[(d["measurement_type"]=="clearance") & (d["substance"]=="codeine")].empty                                                           
    return _all(d, *[codeine_clearance])

In [ ]:
cyp2d6_phenotype_data = copy.deepcopy(data)                                                   
cyp2d6_phenotype_outputs = test_data.outputs.groupby("output_pk").apply(is_cyp2d6_phenotyping)

In [ ]:
cyp2d6_phenotype_groups = cyp2d6_phenotype_outputs["group_pk"].unique()
cyp2d6_phenotype_individuals = cyp2d6_phenotype_outputs["individual_pk"].unique()

cyp2d6_phenotype_data.groups = cyp2d6_phenotype_data.groups[cyp2d6_phenotype_data.groups["group_pk"].isin(cyp2d6_phenotype_groups)]
cyp2d6_phenotype_data.individuals = cyp2d6_phenotype_data.individuals[cyp2d6_phenotype_data.individuals["individual_pk"].isin(cyp2d6_phenotype_individuals)]
cyp2d6_phenotype_data._concise()

cyp2d6_phenotype_data.outputs = cyp2d6_phenotype_data.outputs.groupby("output_pk").apply(codeine_clearance)

In [ ]:
cyp2d6_phenotype_data._concise()

In [ ]:
cyp2d6_phenotype_data._len

In [ ]:
cyp2d6_phenotype_data.outputs