In [11]:
%load_ext autoreload
%autoreload 2
from IPython.display import display
import pkdb_analysis as pka

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [15]:
filters = {
    "interventions":{"study_name":"Allonen1981","normed":"true"}
}
data = pka.PKDBData.from_db(filters)

WARNING:root:*** Querying data ***
WARNING:root:http://0.0.0.0:8000/api/v1/interventions_elastic/?format=json&page_size=2000&study_name=Allonen1981&normed=true
WARNING:root:http://0.0.0.0:8000/api/v1/interventions_elastic/?format=json&page_size=2000&study_name=Allonen1981&normed=true&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_groups/?format=json&page_size=2000
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_groups/?format=json&page_size=2000&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/timecourse_intervention/?format=json&page_size=2000
WARNING:root:http://0.0.0.0:8000/api/v1/timecourse_intervention/?format=json&page_size=2000&page=1

In [16]:
print("interventions")
display(data.interventions)
print("individuals")
display(data.individuals)
print("groups")
display(data.groups)
print("outputs")
display(data.outputs)
print("timecourses")
display(data.timecourses)

interventions

,study_sid,study_name,pk,raw_pk,normed,name,route,form,application,time,...,substance,value,mean,median,min,max,sd,se,cv,unit
0,PKDB00181,Allonen1981,4,2,True,po15,oral,tablet,single dose,0.0,...,midazolam,0.015000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gram
1,PKDB00181,Allonen1981,3,1,True,po75,oral,tablet,single dose,0.0,...,midazolam,0.007500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gram
2,PKDB00181,Allonen1981,6,5,True,iv,iv,solution,single dose,0.0,...,midazolam,0.000075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gram / kilogram

individuals

,study_sid,study_name,individual_pk,individual_name,individual_group_pk,characteristica_pk,count,measurement_type,choice,value,mean,median,min,max,sd,se,cv,unit
0,PKDB00181,Allonen1981,6,6,1,35,1,weight,None,79.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,kilogram
1,PKDB00181,Allonen1981,6,6,1,36,1,age,None,29.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yr
2,PKDB00181,Allonen1981,6,6,1,7,6,species,homo sapiens,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
3,PKDB00181,Allonen1981,6,6,1,8,6,healthy,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
4,PKDB00181,Allonen1981,6,6,1,9,1,smoking,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
467,PKDB00179,Greenblatt1986,7,7,11,106,14,species,homo sapiens,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
468,PKDB00179,Greenblatt1986,7,7,11,107,14,healthy,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
469,PKDB00179,Greenblatt1986,7,7,11,108,14,medication,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
470,PKDB00179,Greenblatt1986,7,7,11,114,8,age,None,NaN,NaN,NaN,22.0,46.0,NaN,NaN,NaN,yr
471,PKDB00179,Greenblatt1986,7,7,11,120,1,sex,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None

groups

,study_sid,study_name,group_pk,group_name,group_count,group_parent_pk,characteristica_pk,count,measurement_type,choice,value,mean,median,min,max,sd,se,cv,unit,substance
0,PKDB00181,Allonen1981,1,all,6,-1,12,6,overnight fast,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
1,PKDB00181,Allonen1981,1,all,6,-1,11,6,age,None,NaN,NaN,NaN,25.0,37.0,NaN,NaN,NaN,yr,NaN
2,PKDB00181,Allonen1981,1,all,6,-1,10,5,smoking,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
3,PKDB00181,Allonen1981,1,all,6,-1,9,1,smoking,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
4,PKDB00181,Allonen1981,1,all,6,-1,8,6,healthy,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,PKDB00179,Greenblatt1986,11,iv,8,10,107,14,healthy,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
81,PKDB00179,Greenblatt1986,11,iv,8,10,106,14,species,homo sapiens,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
82,PKDB00179,Greenblatt1986,10,all,14,-1,108,14,medication,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
83,PKDB00179,Greenblatt1986,10,all,14,-1,107,14,healthy,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
84,PKDB00179,Greenblatt1986,10,all,14,-1,106,14,species,homo sapiens,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN

outputs

,study_sid,study_name,output_pk,intervention_pk,group_pk,individual_pk,tissue,time,time_unit,measurement_type,...,substance,value,mean,median,min,max,sd,se,cv,unit
0,PKDB00181,Allonen1981,1,6,-1,1,plasma,NaN,None,thalf,...,midazolam,2.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,hr
1,PKDB00181,Allonen1981,2,6,-1,1,plasma,NaN,None,vd,...,midazolam,0.71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,l/kg
2,PKDB00181,Allonen1981,3,6,-1,1,plasma,NaN,None,clearance,...,midazolam,292.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ml/min
3,PKDB00181,Allonen1981,4,6,-1,1,plasma,NaN,None,clearance_unbound,...,midazolam,5840.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ml/min
4,PKDB00181,Allonen1981,5,6,-1,1,plasma,NaN,None,plasma_binding,...,midazolam,95.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,percent
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
627,PKDB00179,Greenblatt1986,814,30,12,-1,plasma,NaN,None,thalf,...,midazolam,NaN,3.3,NaN,NaN,NaN,NaN,NaN,NaN,hr
628,PKDB00179,Greenblatt1986,815,34,12,-1,plasma,NaN,None,auc_inf,...,midazolam,NaN,332.0,NaN,NaN,NaN,NaN,NaN,NaN,ng/ml*hr
629,PKDB00179,Greenblatt1986,815,30,12,-1,plasma,NaN,None,auc_inf,...,midazolam,NaN,332.0,NaN,NaN,NaN,NaN,NaN,NaN,ng/ml*hr
630,PKDB00179,Greenblatt1986,816,34,12,-1,plasma,NaN,None,clearance,...,midazolam,NaN,13.8,NaN,NaN,NaN,NaN,NaN,NaN,ml/min/kg
631,PKDB00179,Greenblatt1986,816,30,12,-1,plasma,NaN,None,clearance,...,midazolam,NaN,13.8,NaN,NaN,NaN,NaN,NaN,NaN,ml/min/kg

timecourses

,study_sid,study_name,timecourse_pk,intervention_pk,group_pk,individual_pk,tissue,time,time_unit,measurement_type,...,substance,value,mean,median,min,max,sd,se,cv,unit
0,PKDB00181,Allonen1981,2,4,1,-1,plasma,"[1.70e-01, 3.30e-01, 7.50e-01, 1.00e+00, 1.50e...",hr,concentration,...,midazolam,None,"[1.01e+01, 1.32e+02, 1.34e+02, 9.67e+01, 9.66e...",None,None,None,"[4.76e+00, 7.48e+01, 3.01e+01, 4.23e+01, 5.29e...",None,None,ng/ml
1,PKDB00181,Allonen1981,1,6,1,-1,plasma,"[0.00e+00, 1.70e-01, 3.30e-01, 5.00e-01, 7.50e...",hr,concentration,...,midazolam,None,"[1.85e+02, 1.44e+02, 1.21e+02, 1.06e+02, 8.38e...",None,None,None,"[2.33e+01, 1.82e+01, 2.06e+01, 2.68e+01, 1.03e...",None,None,ng/ml
2,PKDB00209,Farkas2007,6,9,2,-1,plasma,"[2.50e-01, 5.00e-01, 1.00e+00, 1.50e+00, 2.00e...",hr,concentration,...,midazolam,None,"[4.19e+01, 2.92e+01, 1.88e+01, 1.33e+01, 1.03e...",None,None,None,None,None,None,ng/ml
3,PKDB00209,Farkas2007,5,9,2,-1,plasma,"[2.50e-01, 5.00e-01, 1.00e+00, 1.50e+00, 2.00e...",hr,concentration,...,midazolam,None,"[4.89e+01, 3.15e+01, 1.74e+01, 1.25e+01, 9.67e...",None,None,None,None,None,None,ng/ml
4,PKDB00209,Farkas2007,9,10,2,-1,plasma,"[0.00e+00, 5.00e-01, 1.00e+00, 1.50e+00, 2.00e...",hr,concentration,...,midazolam,None,"[7.37e-02, 1.81e+01, 2.54e+01, 2.20e+01, 1.89e...",None,None,None,None,None,None,ng/ml
5,PKDB00209,Farkas2007,8,10,2,-1,plasma,"[0.00e+00, 5.00e-01, 1.00e+00, 1.50e+00, 2.00e...",hr,concentration,...,midazolam,None,"[7.37e-02, 1.03e+01, 1.81e+01, 1.89e+01, 1.79e...",None,None,None,None,None,None,ng/ml
6,PKDB00209,Farkas2007,7,10,2,-1,plasma,"[0.00e+00, 5.00e-01, 1.00e+00, 1.50e+00, 2.00e...",hr,concentration,...,midazolam,None,"[7.37e-02, 3.04e+01, 2.93e+01, 2.77e+01, 2.57e...",None,None,None,None,None,None,ng/ml
7,PKDB00209,Farkas2007,8,15,2,-1,plasma,"[0.00e+00, 5.00e-01, 1.00e+00, 1.50e+00, 2.00e...",hr,concentration,...,midazolam,None,"[7.37e-02, 1.03e+01, 1.81e+01, 1.89e+01, 1.79e...",None,None,None,None,None,None,ng/ml
8,PKDB00209,Farkas2007,5,15,2,-1,plasma,"[2.50e-01, 5.00e-01, 1.00e+00, 1.50e+00, 2.00e...",hr,concentration,...,midazolam,None,"[4.89e+01, 3.15e+01, 1.74e+01, 1.25e+01, 9.67e...",None,None,None,None,None,None,ng/ml
9,PKDB00209,Farkas2007,8,16,2,-1,plasma,"[0.00e+00, 5.00e-01, 1.00e+00, 1.50e+00, 2.00e...",hr,concentration,...,midazolam,None,"[7.37e-02, 1.03e+01, 1.81e+01, 1.89e+01, 1.79e...",None,None,None,None,None,None,ng/ml
10,PKDB00209,Farkas2007,5,16,2,-1,plasma,"[2.50e-01, 5.00e-01, 1.00e+00, 1.50e+00, 2.00e...",hr,concentration,...,midazolam,None,"[4.89e+01, 3.15e+01, 1.74e+01, 1.25e+01, 9.67e...",None,None,None,None,None,None,ng/ml
11,PKDB00209,Farkas2007,7,17,2,-1,plasma,"[0.00e+00, 5.00e-01, 1.00e+00, 1.50e+00, 2.00e...",hr,concentration,...,midazolam,None,"[7.37e-02, 3.04e+01, 2.93e+01, 2.77e+01, 2.57e...",None,None,None,None,None,None,ng/ml
12,PKDB00209,Farkas2007,7,18,2,-1,plasma,"[0.00e+00, 5.00e-01, 1.00e+00, 1.50e+00, 2.00e...",hr,concentration,...,midazolam,None,"[7.37e-02, 3.04e+01, 2.93e+01, 2.77e+01, 2.57e...",None,None,None,None,None,None,ng/ml
13,PKDB00205,Gorski2003,18,20,3,-1,blood,"[2.50e-01, 5.00e-01, 7.50e-01, 1.00e+00, 1.25e...",hr,concentration,...,midazolam,None,"[2.85e+01, 3.43e+01, 2.32e+01, 1.45e+01, 1.12e...",None,None,None,"[nan, 1.07e+01, 2.08e+01, 4.28e+00, 3.63e+00, ...",None,None,ug/l
14,PKDB00205,Gorski2003,17,20,3,-1,blood,"[0.00e+00, 8.33e-02, 2.50e-01, 5.00e-01, 7.50e...",hr,concentration,...,15N3-midazolam,None,"[0.00e+00, 7.73e-01, 1.74e+00, 1.94e+00, 1.79e...",None,None,None,"[nan, 6.72e-01, 1.15e+00, 1.34e+00, 1.44e+00, ...",None,None,ug/l
15,PKDB00205,Gorski2003,16,20,3,-1,blood,"[8.33e-02, 2.50e-01, 5.00e-01, 7.50e-01, 1.00e...",hr,concentration,...,midazolam,None,"[1.65e+01, 3.18e+01, 4.31e+01, 2.68e+01, 2.27e...",None,None,None,"[1.06e+01, 1.24e+01, 1.50e+01, 9.15e+00, 7.09e...",None,None,ug/l
16,PKDB00205,Gorski2003,15,20,3,-1,blood,"[0.00e+00, 8.33e-02, 2.50e-01, 5.00e-01, 7.50e...",hr,concentration,...,15N3-midazolam,None,"[0.00e+00, 9.21e-01, 6.25e+00, 8.59e+00, 8.42e...",None,None,None,"[nan, 6.21e-01, 5.31e+00, 5.60e+00, 4.64e+00, ...",None,None,ug/l
17,PKDB00205,Gorski2003,16,23,3,-1,blood,"[8.33e-02, 2.50e-01, 5.00e-01, 7.50e-01, 1.00e...",hr,concentration,...,midazolam,None,"[1.65e+01, 3.18e+01, 4.31e+01, 2.68e+01, 2.27e...",None,None,None,"[1.06e+01, 1.24e+01, 1.50e+01, 9.15e+00, 7.09e...",None,None,ug/l
18,PKDB00205,Gorski2003,15,23,3,-1,blood,"[0.00e+00, 8.33e-02, 2.50e-01, 5.00e-01, 7.50e...",hr,concentration,...,15N3-midazolam,None,"[0.00e+00, 9.21e-01, 6.25e+00, 8.59e+00, 8.42e...",None,None,None,"[nan, 6.21e-01, 5.31e+00, 5.60e+00, 4.64e+00, ...",None,None,ug/l
19,PKDB00205,Gorski2003,18,24,3,-1,blood,"[2.50e-01, 5.00e-01, 7.50e-01, 1.00e+00, 1.25e...",hr,concentration,...,midazolam,None,"[2.85e+01, 3.43e+01, 2.32e+01, 1.45e+01, 1.12e...",None,None,None,"[nan, 1.07e+01, 2.08e+01, 4.28e+00, 3.63e+00, ...",None,None,ug/l
20,PKDB00205,Gorski2003,17,24,3,-1,blood,"[0.00e+00, 8.33e-02, 2.50e-01, 5.00e-01, 7.50e...",hr,concentration,...,15N3-midazolam,None,"[0.00e+00, 7.73e-01, 1.74e+00, 1.94e+00, 1.79e...",None,None,None,"[nan, 6.72e-01, 1.15e+00, 1.34e+00, 1.44e+00, ...",None,None,ug/l
21,PKDB00205,Gorski2003,18,26,3,-1,blood,"[2.50e-01, 5.00e-01, 7.50e-01, 1.00e+00, 1.25e...",hr,concentration,...,midazolam,None,"[2.85e+01, 3.43e+01, 2.32e+01, 1.45e+01, 1.12e...",None,None,None,"[nan, 1.07e+01, 2.08e+01, 4.28e+00, 3.63e+00, ...",None,None,ug/l
22,PKDB00205,Gorski2003,17,26,3,-1,blood,"[0.00e+00, 8.33e-02, 2.50e-01, 5.00e-01, 7.50e...",hr,concentration,...,15N3-midazolam,None,"[0.00e+00, 7.73e-01, 1.74e+00, 1.94e+00, 1.79e...",None,None,None,"[nan, 6.72e-01, 1.15e+00, 1.34e+00, 1.44e+00, ...",None,None,ug/l
23,PKDB00179,Greenblatt1986,25,29,-1,55,plasma,"[1.35e-01, 3.47e-01, 5.86e-01, 8.01e-01, 1.07e...",hr,concentration,...,midazolam,"[9.39e+01, 5.88e+01, 4.43e+01, 3.22e+01, 3.02e...",None,None,None,None,None,None,None,ng/ml
24,PKDB00179,Greenblatt1986,24,29,-1,55,plasma,"[0.00e+00, 1.39e-01, 4.28e-01, 6.73e-01, 1.43e...",hr,concentration,...,midazolam,"[8.74e+01, 5.79e+01, 4.47e+01, 3.37e+01, 1.89e...",None,None,None,None,None,None,None,ng/ml
25,PKDB00179,Greenblatt1986,23,29,-1,55,plasma,"[2.41e-01, 4.61e-01, 7.24e-01, 9.43e-01, 1.47e...",hr,concentration,...,midazolam,"[8.57e+01, 5.10e+01, 4.40e+01, 3.77e+01, 2.70e...",None,None,None,None,None,None,None,ng/ml
26,PKDB00179,Greenblatt1986,31,30,-1,92,plasma,"[2.56e-01, 5.57e-01, 8.00e-01, 1.08e+00, 1.58e...",hr,concentration,...,midazolam,"[9.10e+01, 1.14e+02, 5.78e+01, 4.23e+01, 2.82e...",None,None,None,None,None,None,None,ng/ml
27,PKDB00179,Greenblatt1986,30,30,-1,92,plasma,"[4.11e-01, 6.22e-01, 9.87e-01, 1.41e+00, 1.95e...",hr,concentration,...,midazolam,"[1.88e+01, 3.17e+01, 4.50e+01, 4.80e+01, 4.08e...",None,None,None,None,None,None,None,ng/ml
28,PKDB00179,Greenblatt1986,29,30,-1,92,plasma,"[4.09e-01, 6.76e-01, 9.29e-01, 1.40e+00, 1.91e...",hr,concentration,...,midazolam,"[2.52e+01, 7.36e+01, 6.43e+01, 3.86e+01, 2.97e...",None,None,None,None,None,None,None,ng/ml
29,PKDB00179,Greenblatt1986,30,32,-1,92,plasma,"[4.11e-01, 6.22e-01, 9.87e-01, 1.41e+00, 1.95e...",hr,concentration,...,midazolam,"[1.88e+01, 3.17e+01, 4.50e+01, 4.80e+01, 4.08e...",None,None,None,None,None,None,None,ng/ml
30,PKDB00179,Greenblatt1986,24,32,-1,55,plasma,"[0.00e+00, 1.39e-01, 4.28e-01, 6.73e-01, 1.43e...",hr,concentration,...,midazolam,"[8.74e+01, 5.79e+01, 4.47e+01, 3.37e+01, 1.89e...",None,None,None,None,None,None,None,ng/ml
31,PKDB00179,Greenblatt1986,31,34,-1,92,plasma,"[2.56e-01, 5.57e-01, 8.00e-01, 1.08e+00, 1.58e...",hr,concentration,...,midazolam,"[9.10e+01, 1.14e+02, 5.78e+01, 4.23e+01, 2.82e...",None,None,None,None,None,None,None,ng/ml
32,PKDB00179,Greenblatt1986,25,34,-1,55,plasma,"[1.35e-01, 3.47e-01, 5.86e-01, 8.01e-01, 1.07e...",hr,concentration,...,midazolam,"[9.39e+01, 5.88e+01, 4.43e+01, 3.22e+01, 3.02e...",None,None,None,None,None,None,None,ng/ml

In [ ]:
data.to_hdf5("example1.h5")
data2 = pka.PKDBData.from_hdf5("example1.h5")

# Example queries

## 1. Query study

In [ ]:
# Allonen1981 (sid=PKDB00181)
# TODO: queries

## Query groups and individuals
### 2.1 Get data for groups with characteristica/keywords X
healthy=True, smoking=F, disease=None,
 individual queries and combinations.

TODO: implement merge of PKDBData

### 2.2 Get data for individuals with characteristica X
### 2.3 Get data for an exclusion criteria, i.e. NOT diease=None

## 3 Query interventions
### 3.1 Get outputs/timecourses for intervention with substance
intervention with measurement_type "dosing" and substance "caffeine"
### 3.2 Get outputs/timecourses where multiple interventions were given

## 4 Query outputs/timecourses
### 4.1 query by measurement_type
### 4.2 complex
query all outputs