In [7]:
%load_ext autoreload
%autoreload 2
from IPython.display import display

import pkdb_analysis as pka

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [8]:
data = pka.PKDBData.from_db()

WARNING:root:*** Querying data ***
WARNING:root:http://0.0.0.0:8000/api/v1/interventions_elastic/?format=json&page_size=2000
WARNING:root:http://0.0.0.0:8000/api/v1/interventions_elastic/?format=json&page_size=2000&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_elastic/?format=json&page_size=2000
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_elastic/?format=json&page_size=2000&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/characteristica_elastic/?format=json&page_size=2000&page=2
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&page=1
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&page=2
WARNING:root:http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&page=3
WARNING:root:http://0.0.0.0:8000/api/v1/timecourse_intervention/?format=json&page_size=2000
WARNING:root:http://0.0.0.0:8000/api/v1/timecourse_intervention/?format=json&page_size=2000&page=1

In [9]:
print("interventions")
display(data.interventions)
print("characteristica")
display(data.characteristica)
print("outputs")
display(data.outputs)
print("timecourses")
display(data.timecourses)

interventions

,pk,study_sid,study_name,normed,raw_pk,value,mean,median,min,max,...,unit,name,route,form,application,time,time_unit,measurement_type,choice,substance
0,93,PKDB00207,Kupferschmidt1995,False,NaN,5.000,NaN,NaN,NaN,NaN,...,mg,iv,iv,solution,single dose,0.0,min,dosing,None,midazolam
1,94,PKDB00207,Kupferschmidt1995,False,NaN,15.000,NaN,NaN,NaN,NaN,...,mg,po,oral,tablet,single dose,0.0,min,dosing,None,midazolam
2,95,PKDB00207,Kupferschmidt1995,True,93.0,0.005,NaN,NaN,NaN,NaN,...,gram,iv,iv,solution,single dose,0.0,min,dosing,None,midazolam
3,96,PKDB00207,Kupferschmidt1995,True,94.0,0.015,NaN,NaN,NaN,NaN,...,gram,po,oral,tablet,single dose,0.0,min,dosing,None,midazolam
4,97,PKDB00207,Kupferschmidt1995,False,NaN,200.000,NaN,NaN,NaN,NaN,...,mg,GRAP1,oral,solution,single dose,-60.0,min,dosing,None,grapefruit juice
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399,427,PKDB00214,Kamali1992,False,NaN,NaN,NaN,NaN,NaN,NaN,...,None,pirenzepine_pre-treatment,oral,tablet,multiple dose,NaN,None,qualitative dosing,None,paracetamol
400,430,PKDB00141,Kamali1993,True,429.0,1.500,NaN,NaN,NaN,NaN,...,gram,paracetamol1500mg,oral,tablet,single dose,0.0,hr,dosing,None,paracetamol
401,429,PKDB00141,Kamali1993,False,NaN,1500.000,NaN,NaN,NaN,NaN,...,mg,paracetamol1500mg,oral,tablet,single dose,0.0,hr,dosing,None,paracetamol
402,432,PKDB00141,Kamali1993,True,431.0,1.000,NaN,NaN,NaN,NaN,...,gram,probenecid1000mg,oral,tablet,single dose,-1.0,hr,dosing,None,probenecid
403,431,PKDB00141,Kamali1993,False,NaN,1000.000,NaN,NaN,NaN,NaN,...,mg,probenecid1000mg,oral,tablet,single dose,-1.0,hr,dosing,None,probenecid

characteristica

,study_sid,study_name,raw_pk,subject_type,count,normed,measurement_type,choice,substance,value,...,se,cv,unit,group_pk,group_name,group_count,group_parent_pk,individual_pk,individual_name,individual_group_pk
0,2723115,Pentikaeinen1989,NaN,individual,1,False,age,None,None,38.0,...,NaN,NaN,yr,NaN,None,NaN,NaN,193.0,p02,27.0
1,2723115,Pentikaeinen1989,NaN,individual,1,False,age,None,None,58.0,...,NaN,NaN,yr,NaN,None,NaN,NaN,198.0,p07,27.0
2,2723115,Pentikaeinen1989,480.0,group,7,True,disease,liver disease,None,NaN,...,NaN,NaN,None,27.0,patients,7.0,25.0,NaN,None,NaN
3,2723115,Pentikaeinen1989,507.0,individual,1,True,age,None,None,60.0,...,NaN,NaN,yr,NaN,None,NaN,NaN,195.0,p04,27.0
4,2723115,Pentikaeinen1989,NaN,group,2,False,smoking,N,None,NaN,...,NaN,NaN,None,27.0,patients,7.0,25.0,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2641,PKDB00141,Kamali1993,NaN,group,5,False,sex,F,None,NaN,...,NaN,NaN,None,166.0,all,10.0,NaN,NaN,None,NaN
2642,PKDB00141,Kamali1993,NaN,group,5,False,sex,M,None,NaN,...,NaN,NaN,None,166.0,all,10.0,NaN,NaN,None,NaN
2643,PKDB00141,Kamali1993,NaN,group,10,False,healthy,Y,None,NaN,...,NaN,NaN,None,166.0,all,10.0,NaN,NaN,None,NaN
2644,PKDB00141,Kamali1993,NaN,group,10,False,overnight fast,Y,None,NaN,...,NaN,NaN,None,166.0,all,10.0,NaN,NaN,None,NaN
2645,PKDB00141,Kamali1993,NaN,group,10,False,species,homo sapiens,None,NaN,...,NaN,NaN,None,166.0,all,10.0,NaN,NaN,None,NaN

outputs

,study_pk,study_name,output_pk,intervention_pk,group_pk,individual_pk,tissue,time,time_unit,measurement_type,...,substance,value,mean,median,min,max,sd,se,cv,unit
0,1.0,Allonen1981,1,6,NaN,1.0,plasma,NaN,None,thalf,...,midazolam,2.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,hr
1,1.0,Allonen1981,2,6,NaN,1.0,plasma,NaN,None,vd,...,midazolam,0.71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,l/kg
2,1.0,Allonen1981,3,6,NaN,1.0,plasma,NaN,None,clearance,...,midazolam,292.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ml/min
3,1.0,Allonen1981,4,6,NaN,1.0,plasma,NaN,None,clearance_unbound,...,midazolam,5840.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ml/min
4,1.0,Allonen1981,5,6,NaN,1.0,plasma,NaN,None,plasma_binding,...,midazolam,95.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,percent
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4261,64.0,Kietzmann1990,10234,436,NaN,782.0,urine,420.0,min,recovery,...,paracetamol mercapturate,0.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,percent
4262,64.0,Kietzmann1990,10235,436,NaN,783.0,urine,370.0,min,recovery,...,paracetamol mercapturate,1.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,percent
4263,64.0,Kietzmann1990,10236,436,NaN,784.0,urine,490.0,min,recovery,...,paracetamol mercapturate,0.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,percent
4264,64.0,Kietzmann1990,10237,436,NaN,785.0,urine,450.0,min,recovery,...,paracetamol mercapturate,0.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,percent
4265,64.0,Kietzmann1990,10238,436,NaN,786.0,urine,480.0,min,recovery,...,paracetamol mercapturate,0.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,percent

timecourses

,study_pk,timecourse_pk,intervention_pk,group_pk,individual_pk,tissue,time,time_unit,measurement_type,choice,substance,value,mean,median,min,max,sd,se,cv,unit
0,1.0,1,6,1.0,NaN,plasma,"[0.00e+00, 1.70e-01, 3.30e-01, 5.00e-01, 7.50e...",hr,concentration,None,midazolam,None,"[1.85e+02, 1.44e+02, 1.21e+02, 1.06e+02, 8.38e...",None,None,None,"[2.33e+01, 1.82e+01, 2.06e+01, 2.68e+01, 1.03e...",None,None,ng/ml
1,1.0,2,4,1.0,NaN,plasma,"[1.70e-01, 3.30e-01, 7.50e-01, 1.00e+00, 1.50e...",hr,concentration,None,midazolam,None,"[1.01e+01, 1.32e+02, 1.34e+02, 9.67e+01, 9.66e...",None,None,None,"[4.76e+00, 7.48e+01, 3.01e+01, 4.23e+01, 5.29e...",None,None,ng/ml
2,2.0,5,16,2.0,NaN,plasma,"[2.50e-01, 5.00e-01, 1.00e+00, 1.50e+00, 2.00e...",hr,concentration,None,midazolam,None,"[4.89e+01, 3.15e+01, 1.74e+01, 1.25e+01, 9.67e...",None,None,None,None,None,None,ng/ml
3,2.0,5,9,2.0,NaN,plasma,"[2.50e-01, 5.00e-01, 1.00e+00, 1.50e+00, 2.00e...",hr,concentration,None,midazolam,None,"[4.89e+01, 3.15e+01, 1.74e+01, 1.25e+01, 9.67e...",None,None,None,None,None,None,ng/ml
4,2.0,5,15,2.0,NaN,plasma,"[2.50e-01, 5.00e-01, 1.00e+00, 1.50e+00, 2.00e...",hr,concentration,None,midazolam,None,"[4.89e+01, 3.15e+01, 1.74e+01, 1.25e+01, 9.67e...",None,None,None,None,None,None,ng/ml
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493,65.0,740,438,173.0,NaN,plasma,"[0.00e+00, 2.50e-01, 5.00e-01, 1.00e+00, 1.50e...",hr,concentration,None,paracetamol sulfate,None,"[0.00e+00, 5.45e-01, 9.99e-01, 2.23e+00, 3.54e...",None,None,None,"[nan, 1.82e-01, 7.27e-01, 3.00e+00, 3.05e+00, ...",None,None,microg/ml
494,65.0,741,440,173.0,NaN,plasma,"[0.00e+00, 2.50e-01, 5.00e-01, 1.00e+00, 1.50e...",hr,concentration,None,paracetamol glucuronide,None,"[0.00e+00, 3.00e-01, 6.80e-01, 3.08e+00, 5.71e...",None,None,None,"[nan, 3.36e-01, 1.86e+00, 2.91e+00, 4.10e+00, ...",None,None,microg/ml
495,65.0,741,438,173.0,NaN,plasma,"[0.00e+00, 2.50e-01, 5.00e-01, 1.00e+00, 1.50e...",hr,concentration,None,paracetamol glucuronide,None,"[0.00e+00, 3.00e-01, 6.80e-01, 3.08e+00, 5.71e...",None,None,None,"[nan, 3.36e-01, 1.86e+00, 2.91e+00, 4.10e+00, ...",None,None,microg/ml
496,65.0,742,440,173.0,NaN,plasma,"[0.00e+00, 2.50e-01, 5.00e-01, 1.00e+00, 1.50e...",hr,concentration,None,paracetamol sulfate,None,"[0.00e+00, 4.54e-01, 8.63e-01, 2.36e+00, 3.54e...",None,None,None,"[nan, 4.57e-02, 8.64e-01, 2.86e+00, 3.14e+00, ...",None,None,microg/ml
497,65.0,742,438,173.0,NaN,plasma,"[0.00e+00, 2.50e-01, 5.00e-01, 1.00e+00, 1.50e...",hr,concentration,None,paracetamol sulfate,None,"[0.00e+00, 4.54e-01, 8.63e-01, 2.36e+00, 3.54e...",None,None,None,"[nan, 4.57e-02, 8.64e-01, 2.86e+00, 3.14e+00, ...",None,None,microg/ml

In [10]:
data.to_hdf5("example1.h5")
data2 = pka.PKDBData.from_hdf5("example1.h5")

/home/janekg/Env/pkdb_analysis/lib/python3.6/site-packages/ipykernel_launcher.py:1: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block3_values] [items->['study_sid', 'study_name', 'unit', 'name', 'route', 'form', 'application', 'time_unit', 'measurement_type', 'choice', 'substance']]

  """Entry point for launching an IPython kernel.
/home/janekg/Env/pkdb_analysis/lib/python3.6/site-packages/ipykernel_launcher.py:1: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block3_values] [items->['study_sid', 'study_name', 'subject_type', 'measurement_type', 'choice', 'substance', 'unit', 'group_name', 'individual_name']]

  """Entry point for launching an IPython kernel.
/home/janekg/Env/pkdb_analysis/lib/python3.6/site-packages/ipykernel_launcher.py:1: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block2_values] [items->['study_name', 'tissue', 'time_unit', 'measurement_type', 'choice', 'substance', 'unit']]

  """Entry point for launching an IPython kernel.
/home/janekg/Env/pkdb_analysis/lib/python3.6/site-packages/ipykernel_launcher.py:1: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block2_values] [items->['tissue', 'time', 'time_unit', 'measurement_type', 'choice', 'substance', 'value', 'mean', 'median', 'min', 'max', 'sd', 'se', 'cv', 'unit']]

  """Entry point for launching an IPython kernel.

# Example queries

## 1. Get data for study

In [ ]:
# Allonen1981 (sid=PKDB00181)
# TODO: query

In [ ]:
# questions: get groups with characterista X
#            get individuals with characterista X
#            exclude groups with characterista X
#            exclude individuals with characterista X

#            get interventions with characteristca
#            exclude interventions with characteristca

#            get outputs with subjects having a characteristca X
#            exclude outputs with subjects having a characteristca X