In [1]:
%load_ext autoreload
%autoreload 2
from IPython.display import display
from pkdb_analysis import PKFilter, PKFilterFactory, PKData, PKDB
import pandas as pd

WARNING Environment variables have not been initialized. 1. add authentication credentials; and 2. run set -a && source .env.local. Queries will be performed as a anonymous user.

# Curation and checking of studies
Helpers for simple checking of curated results.

In [2]:
# get data for study
study_name = "Mitchell1991"
pkfilter = PKFilterFactory.by_study_name(study_name)
data = PKDB.query(pkfilter=pkfilter)
print(data)

WARNING *** Querying data ***
WARNING http://0.0.0.0:8000/api/v1/interventions_elastic/?format=json&page_size=2000&normed=true&study_name=Mitchell1991
WARNING http://0.0.0.0:8000/api/v1/interventions_elastic/?format=json&page_size=2000&normed=true&study_name=Mitchell1991&page=1
WARNING http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000&study_name=Mitchell1991
WARNING http://0.0.0.0:8000/api/v1/characteristica_individuals/?format=json&page_size=2000&study_name=Mitchell1991&page=1
WARNING http://0.0.0.0:8000/api/v1/characteristica_groups/?format=json&page_size=2000&study_name=Mitchell1991
WARNING http://0.0.0.0:8000/api/v1/characteristica_groups/?format=json&page_size=2000&study_name=Mitchell1991&page=1
WARNING http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&normed=true&study_name=Mitchell1991
WARNING http://0.0.0.0:8000/api/v1/output_intervention/?format=json&page_size=2000&normed=true&study_name=Mitchell1991&page=1
WARNING http://0.0.0.0:8000/api/v1/timecourse_intervention/?format=json&page_size=2000&normed=true&study_name=Mitchell1991
WARNING http://0.0.0.0:8000/api/v1/timecourse_intervention/?format=json&page_size=2000&normed=true&study_name=Mitchell1991&page=1

------------------------------
PKData (139742602721936)
------------------------------
studies             1
groups              1  (    6)
individuals         4  (   24)
interventions       1  (    1)
outputs            12  (   12)
timecourses         4  (    4)
------------------------------

## Explore data content

In [5]:
print(data.groups.pks)
print(data.individuals.pks)

{10}
{248, 245, 246, 247}

In [4]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(data.groups_mi)
    
display(data.individuals_mi)
display(data.interventions_mi)
display(data.outputs_mi)
display(data.timecourses_mi)

                             study_sid    study_name group_name  group_count  \
group_pk characteristica_pk
10       623                 PKDB00101  Mitchell1991        all            4
         624                 PKDB00101  Mitchell1991        all            4
         625                 PKDB00101  Mitchell1991        all            4
         626                 PKDB00101  Mitchell1991        all            4
         627                 PKDB00101  Mitchell1991        all            4
         628                 PKDB00101  Mitchell1991        all            4

                             group_parent_pk  count measurement_type  \
group_pk characteristica_pk
10       623                              -1      4          species
         624                              -1      4          healthy
         625                              -1      4              sex
         626                              -1      4           weight
         627                              -1      4              age
         628                              -1      4       abstinence

                                   choice substance  value  mean  median  \
group_pk characteristica_pk
10       623                 homo sapiens      None    NaN   NaN     NaN
         624                            Y      None    NaN   NaN     NaN
         625                            M      None    NaN   NaN     NaN
         626                         None      None    NaN   NaN     NaN
         627                         None      None    NaN   NaN     NaN
         628                         None  morphine    NaN   NaN     NaN

                              min   max  sd  se  cv      unit
group_pk characteristica_pk
10       623                  NaN   NaN NaN NaN NaN      None
         624                  NaN   NaN NaN NaN NaN      None
         625                  NaN   NaN NaN NaN NaN      None
         626                 53.7  76.7 NaN NaN NaN  kilogram
         627                 26.0  36.0 NaN NaN NaN      year
         628                  3.0   NaN NaN NaN NaN       day

                                  study_sid    study_name individual_name  \
individual_pk characteristica_pk
245           623                 PKDB00101  Mitchell1991               C
              624                 PKDB00101  Mitchell1991               C
              625                 PKDB00101  Mitchell1991               C
              626                 PKDB00101  Mitchell1991               C
              627                 PKDB00101  Mitchell1991               C
              628                 PKDB00101  Mitchell1991               C
246           623                 PKDB00101  Mitchell1991               E
              624                 PKDB00101  Mitchell1991               E
              625                 PKDB00101  Mitchell1991               E
              626                 PKDB00101  Mitchell1991               E
              627                 PKDB00101  Mitchell1991               E
              628                 PKDB00101  Mitchell1991               E
247           623                 PKDB00101  Mitchell1991               F
              624                 PKDB00101  Mitchell1991               F
              625                 PKDB00101  Mitchell1991               F
              626                 PKDB00101  Mitchell1991               F
              627                 PKDB00101  Mitchell1991               F
              628                 PKDB00101  Mitchell1991               F
248           623                 PKDB00101  Mitchell1991               O
              624                 PKDB00101  Mitchell1991               O
              625                 PKDB00101  Mitchell1991               O
              626                 PKDB00101  Mitchell1991               O
              627                 PKDB00101  Mitchell1991               O
              628                 PKDB00101  Mitchell1991               O

                                  individual_group_pk  count measurement_type  \
individual_pk characteristica_pk
245           623                                  10      4          species
              624                                  10      4          healthy
              625                                  10      4              sex
              626                                  10      4           weight
              627                                  10      4              age
              628                                  10      4       abstinence
246           623                                  10      4          species
              624                                  10      4          healthy
              625                                  10      4              sex
              626                                  10      4           weight
              627                                  10      4              age
              628                                  10      4       abstinence
247           623                                  10      4          species
              624                                  10      4          healthy
              625                                  10      4              sex
              626                                  10      4           weight
              627                                  10      4              age
              628                                  10      4       abstinence
248           623                                  10      4          species
              624                                  10      4          healthy
              625                                  10      4              sex
              626                                  10      4           weight
              627                                  10      4              age
              628                                  10      4       abstinence

                                        choice substance  value  mean  median  \
individual_pk characteristica_pk
245           623                 homo sapiens      None    NaN   NaN     NaN
              624                            Y      None    NaN   NaN     NaN
              625                            M      None    NaN   NaN     NaN
              626                         None      None    NaN   NaN     NaN
              627                         None      None    NaN   NaN     NaN
              628                         None  morphine    NaN   NaN     NaN
246           623                 homo sapiens      None    NaN   NaN     NaN
              624                            Y      None    NaN   NaN     NaN
              625                            M      None    NaN   NaN     NaN
              626                         None      None    NaN   NaN     NaN
              627                         None      None    NaN   NaN     NaN
              628                         None  morphine    NaN   NaN     NaN
247           623                 homo sapiens      None    NaN   NaN     NaN
              624                            Y      None    NaN   NaN     NaN
              625                            M      None    NaN   NaN     NaN
              626                         None      None    NaN   NaN     NaN
              627                         None      None    NaN   NaN     NaN
              628                         None  morphine    NaN   NaN     NaN
248           623                 homo sapiens      None    NaN   NaN     NaN
              624                            Y      None    NaN   NaN     NaN
              625                            M      None    NaN   NaN     NaN
              626                         None      None    NaN   NaN     NaN
              627                         None      None    NaN   NaN     NaN
              628                         None  morphine    NaN   NaN     NaN

                                   min   max  sd  se  cv      unit
individual_pk characteristica_pk
245           623                  NaN   NaN NaN NaN NaN      None
              624                  NaN   NaN NaN NaN NaN      None
              625                  NaN   NaN NaN NaN NaN      None
              626                 53.7  76.7 NaN NaN NaN  kilogram
              627                 26.0  36.0 NaN NaN NaN      year
              628                  3.0   NaN NaN NaN NaN       day
246           623                  NaN   NaN NaN NaN NaN      None
              624                  NaN   NaN NaN NaN NaN      None
              625                  NaN   NaN NaN NaN NaN      None
              626                 53.7  76.7 NaN NaN NaN  kilogram
              627                 26.0  36.0 NaN NaN NaN      year
              628                  3.0   NaN NaN NaN NaN       day
247           623                  NaN   NaN NaN NaN NaN      None
              624                  NaN   NaN NaN NaN NaN      None
              625                  NaN   NaN NaN NaN NaN      None
              626                 53.7  76.7 NaN NaN NaN  kilogram
              627                 26.0  36.0 NaN NaN NaN      year
              628                  3.0   NaN NaN NaN NaN       day
248           623                  NaN   NaN NaN NaN NaN      None
              624                  NaN   NaN NaN NaN NaN      None
              625                  NaN   NaN NaN NaN NaN      None
              626                 53.7  76.7 NaN NaN NaN  kilogram
              627                 26.0  36.0 NaN NaN NaN      year
              628                  3.0   NaN NaN NaN NaN       day

,study_sid,study_name,raw_pk,normed,name,route,form,application,time,time_end,...,substance,value,mean,median,min,max,sd,se,cv,unit
intervention_pk,,,,,,,,,,,,,,,,,,,,,
0,PKDB00101,Mitchell1991,11,True,MOR,intramuscular,solution,single dose,0.0,None,...,morphine sulfate,0.02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gram

,,,,study_sid,study_name,normed,calculated,tissue,time,time_unit,measurement_type,choice,substance,value,mean,median,min,max,sd,se,cv,unit
output_pk,intervention_pk,group_pk,individual_pk,,,,,,,,,,,,,,,,,,,
988,0,-1,245,PKDB00101,Mitchell1991,True,True,urine,84.0,hr,auc_end,None,morphine,0.03440,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gram * hour / liter
989,0,-1,245,PKDB00101,Mitchell1991,True,True,urine,NaN,None,cmax,None,morphine,0.00525,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gram / liter
990,0,-1,245,PKDB00101,Mitchell1991,True,True,urine,NaN,None,tmax,None,morphine,4.20000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,hour
994,0,-1,246,PKDB00101,Mitchell1991,True,True,urine,72.0,hr,auc_end,None,morphine,0.01860,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gram * hour / liter
995,0,-1,246,PKDB00101,Mitchell1991,True,True,urine,NaN,None,cmax,None,morphine,0.00153,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gram / liter
996,0,-1,246,PKDB00101,Mitchell1991,True,True,urine,NaN,None,tmax,None,morphine,5.10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,hour
1000,0,-1,247,PKDB00101,Mitchell1991,True,True,urine,96.0,hr,auc_end,None,morphine,0.01960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gram * hour / liter
1001,0,-1,247,PKDB00101,Mitchell1991,True,True,urine,NaN,None,cmax,None,morphine,0.00177,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gram / liter
1002,0,-1,247,PKDB00101,Mitchell1991,True,True,urine,NaN,None,tmax,None,morphine,9.20000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,hour
1006,0,-1,248,PKDB00101,Mitchell1991,True,True,urine,108.0,hr,auc_end,None,morphine,0.01710,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gram * hour / liter
1007,0,-1,248,PKDB00101,Mitchell1991,True,True,urine,NaN,None,cmax,None,morphine,0.00172,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gram / liter
1008,0,-1,248,PKDB00101,Mitchell1991,True,True,urine,NaN,None,tmax,None,morphine,1.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,hour

,,,,study_sid,study_name,normed,tissue,time,time_unit,measurement_type,choice,substance,value,mean,median,min,max,sd,se,cv,unit
timecourse_pk,intervention_pk,group_pk,individual_pk,,,,,,,,,,,,,,,,,,
37,0,-1,245,PKDB00101,Mitchell1991,True,urine,"[1.2, 4.2, 8.8, 11.6, 24.0, 36.0, 48.0, 60.0, ...",hr,concentration,None,morphine,"[0.00212, 0.00525, 0.0016, 0.000228, 0.000157,...",None,None,None,None,None,None,None,gram / liter
38,0,-1,246,PKDB00101,Mitchell1991,True,urine,"[0.5, 1.2, 5.1, 8.8, 24.0, 36.0, 48.0, 60.0, 7...",hr,concentration,None,morphine,"[0.00042, 0.000499, 0.00153, 0.000944, 0.00015...",None,None,None,None,None,None,None,gram / liter
39,0,-1,247,PKDB00101,Mitchell1991,True,urine,"[1.1, 9.2, 11.2, 24.0, 36.0, 48.0, 60.0, 72.0,...",hr,concentration,None,morphine,"[0.00163, 0.00177, 2.4e-05, 0.000158, 9.3e-05,...",None,None,None,None,None,None,None,gram / liter
40,0,-1,248,PKDB00101,Mitchell1991,True,urine,"[1.0, 3.8, 7.2, 24.0, 36.0, 48.0, 60.0, 72.0, ...",hr,concentration,None,morphine,"[0.00172, 0.00121, 0.000713, 0.000188, 3.2e-05...",None,None,None,None,None,None,None,gram / liter